<div style="display:block" direction=rtl align=right><br><br>
    <div  style="width:100%;margin:100;display:block"  display=block align=center>
        <img width=130 align=right src="https://i.ibb.co/yXKQmtZ/logo1.png" style="margin:0;" />
        <img width=170 align=left  src="https://i.ibb.co/wLjqFkw/logo2.png" style="margin:0;" />
        <span><br><font size=5>University of Tehran , school of ECE</font></span>
        <span><br><font size=3>Data Analytics Course</font></span>
        <span><br><font size=3>Fall 2022</font></span>
    </div><br><br><br>
    <div style="display:block" align=left display=block> 
        <font size=3>Homework 4</font><br>
        <hr />
        <font size=3>TA: <a href="mailto:p.zilouchian@ut.ac.ir">Parham Zilouchian</a><br></font><br>
    </div>
</div>

# **Working with Database Systems**

## **Part1 - EDA and Visualization**

#### **Section 1. Just some points :)**

In [9]:
import pandas as pd
import psycopg2
import matplotlib.pyplot as plt
from tqdm.auto import tqdm

def read_births(year: int, season=0) -> pd.DataFrame:
    path = f"./Datasets/Part1/veladat-{year}.xlsx"
    season_en_to_fa = {
        "spring": "بهار",
        "summer": "تابستان",
        "fall": "پاییز",
        "winter": "زمستان"
    }
    df_dict = dict()
    df = pd.read_excel(path, sheet_name=season_en_to_fa[season])
    skip_idx = 3
    df_dict["province"] = list(df.loc[skip_idx:, "Unnamed: 1"])
    df_dict["total"] = (df.loc[skip_idx:, "Unnamed: 2"])
    df_dict["male"] = (df.loc[skip_idx:, "Unnamed: 3"])
    df_dict["female"] = (df.loc[skip_idx:, "Unnamed: 4"])
    df_dict["season"] = [str(season)] * len(df_dict["province"])
    df_dict["year"] = [year] * len(df_dict["province"])
    return pd.DataFrame(df_dict)

def read_population() -> pd.DataFrame:
    df = pd.read_csv("./Datasets/Part1/Iran_population.csv")
    return df

df = read_births(95, "spring")
df = read_population()
df

              استان‌ها       نفر
0       آذربایجان شرقی   4018000
1       آذربایجان غربی   3398000
2               اردبیل   1297000
3               اصفهان   5292000
4                البرز   2865000
5                ایلام    597000
6                بوشهر   1230000
7                تهران  13807000
8    چهارمحال وبختیاری    979000
9         خراسان جنوبی    809000
10         خراسان رضوی   6768000
11        خراسان شمالی    892000
12             خوزستان   4885000
13               زنجان   1095000
14               سمنان    750000
15    سیستان وبلوچستان   2978000
16                فارس   5006000
17               قزوین   1322000
18                  قم   1373000
19             كردستان   1658000
20               كرمان   3299000
21            کرمانشاه   1989000
22  کهگیلویه وبویراحمد    744000
23              گلستان   1951000
24               گیلان   2562000
25              لرستان   1793000
26            مازندران   3365000
27               مرکزی   1467000
28             هرمزگان   1902000
29               همدان   1771000
30                 یزد   1213000

#### **Section 2. Write Query using Psycopg2**

```
# This is formatted as code
```

In [14]:
class DB:
    def __init__(self):
        pass
    
    def execute(self, query):
        try:
            conn = None
            conn = psycopg2.connect(database="mohsen_db", user="postgres",
                                    password="1234", host="localhost")
#             conn.autocommit = True
            cursor = self.conn.cursor()
            curser.execute(command)
            curser.close()
            conn.commit()
        except(Exception, psycopg2.DatabaseError) as error:
            print(error)
        finally:
            if conn is not None:
                conn.close()
        
    
    def create_tables(self):
        commands = (
            """
            CREATE TABLE IF NOT EXISTS population (
                id INT GENERATED ALWAYS AS IDENTITY,
                province VARCHAR(255) NOT NULL,
                population INT NOT NULL,
                PRIMARY KEY (id),
                CONSTRAINT unique UNIQUE (province),
            )
            """,
            """
            CREATE TABLE IF NOT EXISTS births (
                id INT GENERATED ALWAYS AS IDENTITY,
                province VARCHAR(255) NOT NULL,
                year INT NOT NULL,
                season VARCHAR(100) NOT NULL,
                total INT NOT NULL,
                male INT NOT NULL,
                female INT NOT NULL,
                PRIMARY KEY (id),
                CONSTRAINT fk_province
                    FOREIGN KEY(province)
                    REFERENCES population(province),
                CONSTRAINT unique UNIQUE (province, year, season, total),
                CONSTRAINT unique UNIQUE (province, year, season, male),
                CONSTRAINT unique UNIQUE (province, year, season, female),
            )
            """
        )
        for command in commands:
            self.execute(command)


for year in tqdm(list(range(91, 100)) + [1400]):
    for season in ["spring", "summer", "fall", "winter"]:
        df_year_season = read_births(year, season)
        for row in df_year_season.iterrows():
            print(row)

  0%|          | 0/10 [00:00<?, ?it/s]

(3, province    آذربايجان شرقي
total                15967
male                  8167
female                7800
season              spring
year                    91
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                15406
male                  7861
female                7545
season              spring
year                    91
Name: 4, dtype: object)
(5, province    اردبيل
total         6016
male          3098
female        2918
season      spring
year            91
Name: 5, dtype: object)
(6, province    اصفهان
total        18981
male          9663
female        9318
season      spring
year            91
Name: 6, dtype: object)
(7, province     البرز
total         8348
male          4288
female        4060
season      spring
year            91
Name: 7, dtype: object)
(8, province     ايلام
total         2308
male          1160
female        1148
season      spring
year            91
Name: 8, dtype: object)
(9, province     بوشهر
total         4392
male          2271
female        2121
season      spring
year            91
Name: 9, dtype: object)
(10, province     تهران
total        42800
male         22122
female       20678
season      spring
year            91
Name: 10, dtype: object)
(11, province    چهارمحال وبختياري
total                    5237
male                     2663
female                   2574
season                 spring
year                       91
Name: 11, dtype: object)
(12, province    خراسان جنوبي
total               3960
male                2041
female              1919
season            spring
year                  91
Name: 12, dtype: object)
(13, province    خراسان رضوي
total             32110
male              16489
female            15621
season           spring
year                 91
Name: 13, dtype: object)
(14, province    خراسان شمالي
total               4359
male                2251
female              2108
season            spring
year                  91
Name: 14, dtype: object)
(15, province    خوزستان
total         23832
male          12309
female        11523
season       spring
year             91
Name: 15, dtype: object)
(16, province     زنجان
total         4783
male          2430
female        2353
season      spring
year            91
Name: 16, dtype: object)
(17, province     سمنان
total         2360
male          1175
female        1185
season      spring
year            91
Name: 17, dtype: object)
(18, province    سيستان وبلوچستان
total                  21190
male                   10835
female                 10355
season                spring
year                      91
Name: 18, dtype: object)
(19, province      فارس
total        19384
male          9995
female        9389
season      spring
year            91
Name: 19, dtype: object)
(20, province     قزوين
total         5075
male          2634
female        2441
season      spring
year            91
Name: 20, dtype: object)
(21, province        قم
total         5283
male          2627
female        2656
season      spring
year            91
Name: 21, dtype: object)
(22, province    كردستان
total          7150
male           3647
female         3503
season       spring
year             91
Name: 22, dtype: object)
(23, province     كرمان
total        13991
male          7249
female        6742
season      spring
year            91
Name: 23, dtype: object)
(24, province    كرمانشاه
total           8209
male            4216
female          3993
season        spring
year              91
Name: 24, dtype: object)
(25, province    كهگيلويه وبويراحمد
total                     3851
male                      1993
female                    1858
season                  spring
year                        91
Name: 25, dtype: object)
(26, province    گلستان
total         9115
male          4641
female        4474
season      spring
year            91
Name: 26, dtype: object)
(27, province     گيلان
total         7727
male          3976
female        3751
season      spring
year            91
Name: 27, dtype: object)
(28, province    لرستان
total         8971
male          4570
female        4401
season      spring
year            91
Name: 28, dtype: object)
(29, province    مازندران
total          10233
male            5382
female          4851
season        spring
year              91
Name: 29, dtype: object)
(30, province     مركزي
total         5172
male          2627
female        2545
season      spring
year            91
Name: 30, dtype: object)
(31, province    هرمزگان
total          7953
male           4112
female         3841
season       spring
year             91
Name: 31, dtype: object)
(32, province     همدان
total         7672
male          3990
female        3682
season      spring
year            91
Name: 32, dtype: object)
(33, province       يزد
total         5178
male          2620
female        2558
season      spring
year            91
Name: 33, dtype: object)
(3, province    آذربايجان شرقي
total                18720
male                  9697
female                9023
season              summer
year                    91
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                16801
male                  8674
female                8127
season              summer
year                    91
Name: 4, dtype: object)
(5, province    اردبيل
total         6922
male          3614
female        3308
season      summer
year            91
Name: 5, dtype: object)
(6, province    اصفهان
total        21373
male         10811
female       10562
season      summer
year            91
Name: 6, dtype: object)
(7, province     البرز
total         9694
male          4971
female        4723
season      summer
year            91
Name: 7, dtype: object)
(8, province     ايلام
total         2778
male          1388
female        1390
season      summer
year            91
Name: 8, dtype: object)
(9, province     بوشهر
total         5063
male          2634
female        2429
season      summer
year            91
Name: 9, dtype: object)
(10, province     تهران
total        48369
male         25052
female       23317
season      summer
year            91
Name: 10, dtype: object)
(11, province    چهارمحال وبختياري
total                    5643
male                     2931
female                   2712
season                 summer
year                       91
Name: 11, dtype: object)
(12, province    خراسان جنوبي
total               4378
male                2258
female              2120
season            summer
year                  91
Name: 12, dtype: object)
(13, province    خراسان رضوي
total             35163
male              17985
female            17178
season           summer
year                 91
Name: 13, dtype: object)
(14, province    خراسان شمالي
total               4838
male                2492
female              2346
season            summer
year                  91
Name: 14, dtype: object)
(15, province    خوزستان
total         28825
male          14618
female        14207
season       summer
year             91
Name: 15, dtype: object)
(16, province     زنجان
total         5150
male          2639
female        2511
season      summer
year            91
Name: 16, dtype: object)
(17, province     سمنان
total         2590
male          1298
female        1292
season      summer
year            91
Name: 17, dtype: object)
(18, province    سيستان وبلوچستان
total                  21945
male                   11312
female                 10633
season                summer
year                      91
Name: 18, dtype: object)
(19, province      فارس
total        21540
male         11058
female       10482
season      summer
year            91
Name: 19, dtype: object)
(20, province     قزوين
total         5833
male          2986
female        2847
season      summer
year            91
Name: 20, dtype: object)
(21, province        قم
total         6075
male          3112
female        2963
season      summer
year            91
Name: 21, dtype: object)
(22, province    كردستان
total          7204
male           3688
female         3516
season       summer
year             91
Name: 22, dtype: object)
(23, province     كرمان
total        14920
male          7673
female        7247
season      summer
year            91
Name: 23, dtype: object)
(24, province    كرمانشاه
total           8927
male            4613
female          4314
season        summer
year              91
Name: 24, dtype: object)
(25, province    كهگيلويه وبويراحمد
total                     4252
male                      2179
female                    2073
season                  summer
year                        91
Name: 25, dtype: object)
(26, province    گلستان
total        11561
male          5911
female        5650
season      summer
year            91
Name: 26, dtype: object)
(27, province     گيلان
total         8763
male          4463
female        4300
season      summer
year            91
Name: 27, dtype: object)
(28, province    لرستان
total        10005
male          5225
female        4780
season      summer
year            91
Name: 28, dtype: object)
(29, province    مازندران
total          12111
male            6211
female          5900
season        summer
year              91
Name: 29, dtype: object)
(30, province     مركزي
total         5873
male          3121
female        2752
season      summer
year            91
Name: 30, dtype: object)
(31, province    هرمزگان
total          9447
male           4817
female         4630
season       summer
year             91
Name: 31, dtype: object)
(32, province     همدان
total         8354
male          4208
female        4146
season      summer
year            91
Name: 32, dtype: object)
(33, province       يزد
total         5765
male          2950
female        2815
season      summer
year            91
Name: 33, dtype: object)
(3, province    آذربايجان شرقي
total                16558
male                  8589
female                7969
season                fall
year                    91
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                14978
male                  7646
female                7332
season                fall
year                    91
Name: 4, dtype: object)
(5, province    اردبيل
total         5599
male          2862
female        2737
season        fall
year            91
Name: 5, dtype: object)
(6, province    اصفهان
total        19266
male          9881
female        9385
season        fall
year            91
Name: 6, dtype: object)
(7, province    البرز
total        8737
male         4525
female       4212
season       fall
year           91
Name: 7, dtype: object)
(8, province    ايلام
total        2564
male         1312
female       1252
season       fall
year           91
Name: 8, dtype: object)
(9, province    بوشهر
total        5431
male         2848
female       2583
season       fall
year           91
Name: 9, dtype: object)
(10, province    تهران
total       43963
male        22586
female      21377
season       fall
year           91
Name: 10, dtype: object)
(11, province    چهارمحال وبختياري
total                    4726
male                     2446
female                   2280
season                   fall
year                       91
Name: 11, dtype: object)
(12, province    خراسان جنوبي
total               3991
male                2070
female              1921
season              fall
year                  91
Name: 12, dtype: object)
(13, province    خراسان رضوي
total             31461
male              15908
female            15553
season             fall
year                 91
Name: 13, dtype: object)
(14, province    خراسان شمالي
total               4420
male                2300
female              2120
season              fall
year                  91
Name: 14, dtype: object)
(15, province    خوزستان
total         28442
male          14523
female        13919
season         fall
year             91
Name: 15, dtype: object)
(16, province    زنجان
total        4798
male         2459
female       2339
season       fall
year           91
Name: 16, dtype: object)
(17, province    سمنان
total        2441
male         1286
female       1155
season       fall
year           91
Name: 17, dtype: object)
(18, province    سيستان وبلوچستان
total                  22541
male                   11613
female                 10928
season                  fall
year                      91
Name: 18, dtype: object)
(19, province     فارس
total       20825
male        10722
female      10103
season       fall
year           91
Name: 19, dtype: object)
(20, province    قزوين
total        5162
male         2615
female       2547
season       fall
year           91
Name: 20, dtype: object)
(21, province      قم
total       5661
male        2923
female      2738
season      fall
year          91
Name: 21, dtype: object)
(22, province    كردستان
total          6802
male           3507
female         3295
season         fall
year             91
Name: 22, dtype: object)
(23, province    كرمان
total       14550
male         7458
female       7092
season       fall
year           91
Name: 23, dtype: object)
(24, province    كرمانشاه
total           8204
male            4215
female          3989
season          fall
year              91
Name: 24, dtype: object)
(25, province    كهگيلويه وبويراحمد
total                     3850
male                      1948
female                    1902
season                    fall
year                        91
Name: 25, dtype: object)
(26, province    گلستان
total        10306
male          5335
female        4971
season        fall
year            91
Name: 26, dtype: object)
(27, province    گيلان
total        7887
male         3991
female       3896
season       fall
year           91
Name: 27, dtype: object)
(28, province    لرستان
total         9006
male          4674
female        4332
season        fall
year            91
Name: 28, dtype: object)
(29, province    مازندران
total          10916
male            5607
female          5309
season          fall
year              91
Name: 29, dtype: object)
(30, province    مركزي
total        5205
male         2662
female       2543
season       fall
year           91
Name: 30, dtype: object)
(31, province    هرمزگان
total         10378
male           5429
female         4949
season         fall
year             91
Name: 31, dtype: object)
(32, province    همدان
total        7609
male         3821
female       3788
season       fall
year           91
Name: 32, dtype: object)
(33, province     يزد
total       5426
male        2695
female      2731
season      fall
year          91
Name: 33, dtype: object)
(3, province    آذربايجان شرقي
total                17423
male                  8848
female                8575
season              winter
year                    91
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                15620
male                  8059
female                7561
season              winter
year                    91
Name: 4, dtype: object)
(5, province    اردبيل
total         6064
male          3056
female        3008
season      winter
year            91
Name: 5, dtype: object)
(6, province    اصفهان
total        18630
male          9567
female        9063
season      winter
year            91
Name: 6, dtype: object)
(7, province     البرز
total         8864
male          4519
female        4345
season      winter
year            91
Name: 7, dtype: object)
(8, province     ايلام
total         2572
male          1277
female        1295
season      winter
year            91
Name: 8, dtype: object)
(9, province     بوشهر
total         5295
male          2698
female        2597
season      winter
year            91
Name: 9, dtype: object)
(10, province     تهران
total        43687
male         22375
female       21312
season      winter
year            91
Name: 10, dtype: object)
(11, province    چهارمحال وبختياري
total                    4800
male                     2452
female                   2348
season                 winter
year                       91
Name: 11, dtype: object)
(12, province    خراسان جنوبي
total               4204
male                2158
female              2046
season            winter
year                  91
Name: 12, dtype: object)
(13, province    خراسان رضوي
total             32854
male              16808
female            16046
season           winter
year                 91
Name: 13, dtype: object)
(14, province    خراسان شمالي
total               4758
male                2421
female              2337
season            winter
year                  91
Name: 14, dtype: object)
(15, province    خوزستان
total         27357
male          13968
female        13389
season       winter
year             91
Name: 15, dtype: object)
(16, province     زنجان
total         4783
male          2493
female        2290
season      winter
year            91
Name: 16, dtype: object)
(17, province     سمنان
total         2373
male          1208
female        1165
season      winter
year            91
Name: 17, dtype: object)
(18, province    سيستان وبلوچستان
total                  23685
male                   12083
female                 11602
season                winter
year                      91
Name: 18, dtype: object)
(19, province      فارس
total        20974
male         10829
female       10145
season      winter
year            91
Name: 19, dtype: object)
(20, province     قزوين
total         5106
male          2613
female        2493
season      winter
year            91
Name: 20, dtype: object)
(21, province        قم
total         5525
male          2871
female        2654
season      winter
year            91
Name: 21, dtype: object)
(22, province    كردستان
total          6918
male           3537
female         3381
season       winter
year             91
Name: 22, dtype: object)
(23, province     كرمان
total        14029
male          7133
female        6896
season      winter
year            91
Name: 23, dtype: object)
(24, province    كرمانشاه
total           8825
male            4622
female          4203
season        winter
year              91
Name: 24, dtype: object)
(25, province    كهگيلويه وبويراحمد
total                     3928
male                      1939
female                    1989
season                  winter
year                        91
Name: 25, dtype: object)
(26, province    گلستان
total        10032
male          5062
female        4970
season      winter
year            91
Name: 26, dtype: object)
(27, province     گيلان
total         7818
male          4002
female        3816
season      winter
year            91
Name: 27, dtype: object)
(28, province    لرستان
total         9170
male          4706
female        4464
season      winter
year            91
Name: 28, dtype: object)
(29, province    مازندران
total          10723
male            5556
female          5167
season        winter
year              91
Name: 29, dtype: object)
(30, province     مركزي
total         5306
male          2697
female        2609
season      winter
year            91
Name: 30, dtype: object)
(31, province    هرمزگان
total          9500
male           4797
female         4703
season       winter
year             91
Name: 31, dtype: object)
(32, province     همدان
total         7752
male          3990
female        3762
season      winter
year            91
Name: 32, dtype: object)
(33, province       يزد
total         5403
male          2747
female        2656
season      winter
year            91
Name: 33, dtype: object)
(3, province    آذربايجان شرقي
total                16223
male                  8373
female                7850
season              spring
year                    92
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                15484
male                  7992
female                7492
season              spring
year                    92
Name: 4, dtype: object)
(5, province    اردبيل
total         5979
male          3084
female        2895
season      spring
year            92
Name: 5, dtype: object)

(3, province    آذربايجان شرقي
total                16415
male                  8519
female                7896
season                fall
year                    92
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                15364
male                  7859
female                7505
season                fall
year                    92
Name: 4, dtype: object)
(5, province    اردبيل
total         5681
male          2928
female        2753
season        fall
year            92
Name: 5, dtype: object)
(6, province    اصفهان
total        18843
male          9548
female        9295
season        fall
year            92
Name: 6, dtype: object)
(7, province    البرز
total        8924
male         4568
female       4356
season       fall
year           92
Name: 7, dtype: object)
(8, province    ايلام
total        2693
male         1430
female       1263
season       fall
year           92
Name: 8, dtype: object)
(9, province    بوشهر
total        5547
male         2780
female       2767
season       fall
year           92
Name: 9, dtype: object)
(10, province    تهران
total       44473
male        22821
female      21652
season       fall
year           92
Name: 10, dtype: object)
(11, province    چهارمحال وبختياري
total                    4754
male                     2515
female                   2239
season                   fall
year                       92
Name: 11, dtype: object)
(12, province    خراسان جنوبي
total               4279
male                2218
female              2061
season              fall
year                  92
Name: 12, dtype: object)
(13, province    خراسان رضوي
total             34390
male              17601
female            16789
season             fall
year                 92
Name: 13, dtype: object)
(14, province    خراسان شمالي
total               4579
male                2373
female              2206
season              fall
year                  92
Name: 14, dtype: object)
(15, province    خوزستان
total         28028
male          14256
female        13772
season         fall
year             92
Name: 15, dtype: object)
(16, province    زنجان
total        4916
male         2455
female       2461
season       fall
year           92
Name: 16, dtype: object)
(17, province    سمنان
total        2412
male         1226
female       1186
season       fall
year           92
Name: 17, dtype: object)
(18, province    سيستان وبلوچستان
total                  24595
male                   12626
female                 11969
season                  fall
year                      92
Name: 18, dtype: object)
(19, province     فارس
total       20885
male        10697
female      10188
season       fall
year           92
Name: 19, dtype: object)
(20, province    قزوين
total        4944
male         2501
female       2443
season       fall
year           92
Name: 20, dtype: object)
(21, province      قم
total       5710
male        2902
female      2808
season      fall
year          92
Name: 21, dtype: object)
(22, province    كردستان
total          6892
male           3533
female         3359
season         fall
year             92
Name: 22, dtype: object)
(23, province    كرمان
total       15720
male         7997
female       7723
season       fall
year           92
Name: 23, dtype: object)
(24, province    كرمانشاه
total           8553
male            4484
female          4069
season          fall
year              92
Name: 24, dtype: object)
(25, province    كهگيلويه وبويراحمد
total                     3965
male                      2082
female                    1883
season                    fall
year                        92
Name: 25, dtype: object)
(26, province    گلستان
total        10282
male          5223
female        5059
season        fall
year            92
Name: 26, dtype: object)
(27, province    گيلان
total        7994
male         4058
female       3936
season       fall
year           92
Name: 27, dtype: object)
(28, province    لرستان
total         9081
male          4660
female        4421
season        fall
year            92
Name: 28, dtype: object)
(29, province    مازندران
total          11178
male            5683
female          5495
season          fall
year              92
Name: 29, dtype: object)
(30, province    مركزي
total        5251
male         2636
female       2615
season       fall
year           92
Name: 30, dtype: object)
(31, province    هرمزگان
total         10412
male           5419
female         4993
season         fall
year             92
Name: 31, dtype: object)
(32, province    همدان
total        7651
male         3975
female       3676
season       fall
year           92
Name: 32, dtype: object)
(33, province     يزد
total       5535
male        2772
female      2763
season      fall
year          92
Name: 33, dtype: object)
(3, province    آذربايجان شرقي
total                18265
male                  9436
female                8829
season              winter
year                    92
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                17162
male                  8778
female                8384
season              winter
year                    92
Name: 4, dtype: object)
(5, province    اردبيل
total         6156
male          3229
female        2927
season      winter
year            92
Name: 5, dtype: object)
(6, province    اصفهان
total        19972
male         10217
female        9755
season      winter
year            92
Name: 6, dtype: object)
(7, province     البرز
total         9517
male          4877
female        4640
season      winter
year            92
Name: 7, dtype: object)
(8, province     ايلام
total         2830
male          1440
female        1390
season      winter
year            92
Name: 8, dtype: object)
(9, province     بوشهر
total         5548
male          2922
female        2626
season      winter
year            92
Name: 9, dtype: object)
(10, province     تهران
total        47097
male         24278
female       22819
season      winter
year            92
Name: 10, dtype: object)
(11, province    چهارمحال وبختياري
total                    4966
male                     2546
female                   2420
season                 winter
year                       92
Name: 11, dtype: object)
(12, province    خراسان جنوبي
total               4359
male                2158
female              2201
season            winter
year                  92
Name: 12, dtype: object)
(13, province    خراسان رضوي
total             36405
male              18658
female            17747
season           winter
year                 92
Name: 13, dtype: object)
(14, province    خراسان شمالي
total               5115
male                2634
female              2481
season            winter
year                  92
Name: 14, dtype: object)
(15, province    خوزستان
total         28524
male          14676
female        13848
season       winter
year             92
Name: 15, dtype: object)
(16, province     زنجان
total         5414
male          2773
female        2641
season      winter
year            92
Name: 16, dtype: object)
(17, province     سمنان
total         2449
male          1259
female        1190
season      winter
year            92
Name: 17, dtype: object)
(18, province    سيستان وبلوچستان
total                  25907
male                   13275
female                 12632
season                winter
year                      92
Name: 18, dtype: object)
(19, province      فارس
total        21879
male         11229
female       10650
season      winter
year            92
Name: 19, dtype: object)
(20, province     قزوين
total         5431
male          2777
female        2654
season      winter
year            92
Name: 20, dtype: object)
(21, province        قم
total         5866
male          3017
female        2849
season      winter
year            92
Name: 21, dtype: object)
(22, province    كردستان
total          7596
male           3917
female         3679
season       winter
year             92
Name: 22, dtype: object)
(23, province     كرمان
total        15105
male          7647
female        7458
season      winter
year            92
Name: 23, dtype: object)
(24, province    كرمانشاه
total           9159
male            4801
female          4358
season        winter
year              92
Name: 24, dtype: object)
(25, province    كهگيلويه وبويراحمد
total                     3982
male                      2034
female                    1948
season                  winter
year                        92
Name: 25, dtype: object)
(26, province    گلستان
total        10549
male          5326
female        5223
season      winter
year            92
Name: 26, dtype: object)
(27, province     گيلان
total         8333
male          4172
female        4161
season      winter
year            92
Name: 27, dtype: object)
(28, province    لرستان
total         9499
male          4980
female        4519
season      winter
year            92
Name: 28, dtype: object)
(29, province    مازندران
total          11224
male            5752
female          5472
season        winter
year              92
Name: 29, dtype: object)
(30, province     مركزي
total         5631
male          2939
female        2692
season      winter
year            92
Name: 30, dtype: object)
(31, province    هرمزگان
total          9977
male           5021
female         4956
season       winter
year             92
Name: 31, dtype: object)
(32, province     همدان
total         8181
male          4211
female        3970
season      winter
year            92
Name: 32, dtype: object)
(33, province       يزد
total         5693
male          2892
female        2801
season      winter
year            92
Name: 33, dtype: object)
(3, province    آذربايجان شرقي
total                17592
male                  9035
female                8557
season              spring
year                    93
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                17003
male                  8692
female                8311
season              spring
year                    93
Name: 4, dtype: object)
(5, province    اردبيل
total         6293
male          3264
female        3029
season      spring
year            93
Name: 5, dtype: object)
(6, province    اصفهان
total        19833
male         10174
female        9659
season      spring
year            93
Name: 6, dtype: object)
(7, province     البرز
total         9331
male          4926
female        4405
season      spring
year            93
Name: 7, dtype: object)
(8, province     ايلام
total         2449
male          1231
female        1218
season      spring
year            93
Name: 8, dtype: object)
(9, province     بوشهر
total         4555
male          2356
female        2199
season      spring
year            93
Name: 9, dtype: object)
(10, province     تهران
total        45720
male         23792
female       21928
season      spring
year            93
Name: 10, dtype: object)
(11, province    چهارمحال وبختياري
total                    5004
male                     2545
female                   2459
season                 spring
year                       93
Name: 11, dtype: object)
(12, province    خراسان جنوبي
total               4414
male                2252
female              2162
season            spring
year                  93
Name: 12, dtype: object)
(13, province    خراسان رضوي
total             35827
male              18488
female            17339
season           spring
year                 93
Name: 13, dtype: object)
(14, province    خراسان شمالي
total               4678
male                2449
female              2229
season            spring
year                  93
Name: 14, dtype: object)
(15, province    خوزستان
total         25321
male          12950
female        12371
season       spring
year             93
Name: 15, dtype: object)
(16, province     زنجان
total         4794
male          2454
female        2340
season      spring
year            93
Name: 16, dtype: object)
(17, province     سمنان
total         2544
male          1276
female        1268
season      spring
year            93
Name: 17, dtype: object)
(18, province    سيستان وبلوچستان
total                  22795
male                   11737
female                 11058
season                spring
year                      93
Name: 18, dtype: object)
(19, province      فارس
total        19592
male         10098
female        9494
season      spring
year            93
Name: 19, dtype: object)
(20, province     قزوين
total         5550
male          2888
female        2662
season      spring
year            93
Name: 20, dtype: object)
(21, province        قم
total         5756
male          2840
female        2916
season      spring
year            93
Name: 21, dtype: object)
(22, province    كردستان
total          7770
male           3958
female         3812
season       spring
year             93
Name: 22, dtype: object)
(23, province     كرمان
total        14617
male          7567
female        7050
season      spring
year            93
Name: 23, dtype: object)
(24, province    كرمانشاه
total           8540
male            4487
female          4053
season        spring
year              93
Name: 24, dtype: object)
(25, province    كهگيلويه وبويراحمد
total                     3601
male                      1874
female                    1727
season                  spring
year                        93
Name: 25, dtype: object)
(26, province    گلستان
total         9434
male          4793
female        4641
season      spring
year            93
Name: 26, dtype: object)
(27, province     گيلان
total         7741
male          3955
female        3786
season      spring
year            93
Name: 27, dtype: object)
(28, province    لرستان
total         9506
male          4856
female        4650
season      spring
year            93
Name: 28, dtype: object)
(29, province    مازندران
total          10695
male            5580
female          5115
season        spring
year              93
Name: 29, dtype: object)
(30, province     مركزي
total         5413
male          2774
female        2639
season      spring
year            93
Name: 30, dtype: object)
(31, province    هرمزگان
total          8010
male           4114
female         3896
season       spring
year             93
Name: 31, dtype: object)
(32, province     همدان
total         8240
male          4204
female        4036
season      spring
year            93
Name: 32, dtype: object)
(33, province       يزد
total         5696
male          2938
female        2758
season      spring
year            93
Name: 33, dtype: object)
(3, province    آذربايجان شرقي
total                19817
male                 10223
female                9594
season              summer
year                    93
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                18687
male                  9580
female                9107
season              summer
year                    93
Name: 4, dtype: object)
(5, province    اردبيل
total         7027
male          3635
female        3392
season      summer
year            93
Name: 5, dtype: object)
(6, province    اصفهان
total        22483
male         11619
female       10864
season      summer
year            93
Name: 6, dtype: object)
(7, province     البرز
total        10651
male          5415
female        5236
season      summer
year            93
Name: 7, dtype: object)
(8, province     ايلام
total         3069
male          1574
female        1495
season      summer
year            93
Name: 8, dtype: object)
(9, province     بوشهر
total         5439
male          2816
female        2623
season      summer
year            93
Name: 9, dtype: object)
(10, province     تهران
total        53116
male         27353
female       25763
season      summer
year            93
Name: 10, dtype: object)
(11, province    چهارمحال وبختياري
total                    5794
male                     2914
female                   2880
season                 summer
year                       93
Name: 11, dtype: object)
(12, province    خراسان جنوبي
total               4697
male                2401
female              2296
season            summer
year                  93
Name: 12, dtype: object)
(13, province    خراسان رضوي
total             38995
male              19926
female            19069
season           summer
year                 93
Name: 13, dtype: object)
(14, province    خراسان شمالي
total               5035
male                2605
female              2430
season            summer
year                  93
Name: 14, dtype: object)
(15, province    خوزستان
total         30005
male          15406
female        14599
season       summer
year             93
Name: 15, dtype: object)
(16, province     زنجان
total         5451
male          2762
female        2689
season      summer
year            93
Name: 16, dtype: object)
(17, province     سمنان
total         2747
male          1413
female        1334
season      summer
year            93
Name: 17, dtype: object)
(18, province    سيستان وبلوچستان
total                  24726
male                   12933
female                 11793
season                summer
year                      93
Name: 18, dtype: object)
(19, province      فارس
total        22812
male         11650
female       11162
season      summer
year            93
Name: 19, dtype: object)
(20, province     قزوين
total         5934
male          3044
female        2890
season      summer
year            93
Name: 20, dtype: object)
(21, province        قم
total         6508
male          3323
female        3185
season      summer
year            93
Name: 21, dtype: object)
(22, province    كردستان
total          8182
male           4271
female         3911
season       summer
year             93
Name: 22, dtype: object)
(23, province     كرمان
total        16430
male          8532
female        7898
season      summer
year            93
Name: 23, dtype: object)
(24, province    كرمانشاه
total           9584
male            5011
female          4573
season        summer
year              93
Name: 24, dtype: object)
(25, province    كهگيلويه وبويراحمد
total                     4391
male                      2250
female                    2141
season                  summer
year                        93
Name: 25, dtype: object)
(26, province    گلستان
total        11586
male          5895
female        5691
season      summer
year            93
Name: 26, dtype: object)
(27, province     گيلان
total         8522
male          4371
female        4151
season      summer
year            93
Name: 27, dtype: object)
(28, province    لرستان
total        10869
male          5604
female        5265
season      summer
year            93
Name: 28, dtype: object)
(29, province    مازندران
total          12526
male            6446
female          6080
season        summer
year              93
Name: 29, dtype: object)
(30, province     مركزي
total         5917
male          3117
female        2800
season      summer
year            93
Name: 30, dtype: object)
(31, province    هرمزگان
total         10171
male           5202
female         4969
season       summer
year             93
Name: 31, dtype: object)
(32, province     همدان
total         8822
male          4621
female        4201
season      summer
year            93
Name: 32, dtype: object)
(33, province       يزد
total         6437
male          3319
female        3118
season      summer
year            93
Name: 33, dtype: object)
(3, province    آذربايجان شرقي
total                16740
male                  8749
female                7991
season                fall
year                    93
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                16076
male                  8274
female                7802
season                fall
year                    93
Name: 4, dtype: object)
(5, province    اردبيل
total         5866
male          2999
female        2867
season        fall
year            93
Name: 5, dtype: object)

(3, province    آذربايجان شرقي
total                17622
male                  9187
female                8435
season              spring
year                    94
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                17510
male                  9052
female                8458
season              spring
year                    94
Name: 4, dtype: object)
(5, province    اردبيل
total         6459
male          3362
female        3097
season      spring
year            94
Name: 5, dtype: object)
(6, province    اصفهان
total        20847
male         10739
female       10108
season      spring
year            94
Name: 6, dtype: object)
(7, province     البرز
total         9968
male          5127
female        4841
season      spring
year            94
Name: 7, dtype: object)
(8, province     ايلام
total         2598
male          1324
female        1274
season      spring
year            94
Name: 8, dtype: object)
(9, province     بوشهر
total         4851
male          2520
female        2331
season      spring
year            94
Name: 9, dtype: object)
(10, province     تهران
total        48915
male         25147
female       23768
season      spring
year            94
Name: 10, dtype: object)
(11, province    چهارمحال وبختياري
total                    5414
male                     2822
female                   2592
season                 spring
year                       94
Name: 11, dtype: object)
(12, province    خراسان جنوبي
total               4657
male                2312
female              2345
season            spring
year                  94
Name: 12, dtype: object)
(13, province    خراسان رضوي
total             38337
male              19629
female            18708
season           spring
year                 94
Name: 13, dtype: object)
(14, province    خراسان شمالي
total               4851
male                2451
female              2400
season            spring
year                  94
Name: 14, dtype: object)
(15, province    خوزستان
total         26237
male          13365
female        12872
season       spring
year             94
Name: 15, dtype: object)
(16, province     زنجان
total         5339
male          2770
female        2569
season      spring
year            94
Name: 16, dtype: object)
(17, province     سمنان
total         2596
male          1320
female        1276
season      spring
year            94
Name: 17, dtype: object)
(18, province    سيستان وبلوچستان
total                  23654
male                   12147
female                 11507
season                spring
year                      94
Name: 18, dtype: object)
(19, province      فارس
total        20595
male         10510
female       10085
season      spring
year            94
Name: 19, dtype: object)
(20, province     قزوين
total         5780
male          3018
female        2762
season      spring
year            94
Name: 20, dtype: object)
(21, province        قم
total         6337
male          3229
female        3108
season      spring
year            94
Name: 21, dtype: object)
(22, province    كردستان
total          8292
male           4313
female         3979
season       spring
year             94
Name: 22, dtype: object)
(23, province     كرمان
total        15417
male          7866
female        7551
season      spring
year            94
Name: 23, dtype: object)
(24, province    كرمانشاه
total           8669
male            4582
female          4087
season        spring
year              94
Name: 24, dtype: object)
(25, province    كهگيلويه وبويراحمد
total                     3669
male                      1926
female                    1743
season                  spring
year                        94
Name: 25, dtype: object)
(26, province    گلستان
total         9695
male          4988
female        4707
season      spring
year            94
Name: 26, dtype: object)
(27, province     گيلان
total         7555
male          3868
female        3687
season      spring
year            94
Name: 27, dtype: object)
(28, province    لرستان
total         9792
male          5098
female        4694
season      spring
year            94
Name: 28, dtype: object)
(29, province    مازندران
total          10701
male            5493
female          5208
season        spring
year              94
Name: 29, dtype: object)
(30, province     مركزي
total         5613
male          2836
female        2777
season      spring
year            94
Name: 30, dtype: object)
(31, province    هرمزگان
total          8990
male           4684
female         4306
season       spring
year             94
Name: 31, dtype: object)
(32, province     همدان
total         8762
male          4501
female        4261
season      spring
year            94
Name: 32, dtype: object)
(33, province       يزد
total         6321
male          3214
female        3107
season      spring
year            94
Name: 33, dtype: object)
(3, province    آذربايجان شرقي
total                19944
male                 10322
female                9622
season              summer
year                    94
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                19570
male                  9969
female                9601
season              summer
year                    94
Name: 4, dtype: object)
(5, province    اردبيل
total         7545
male          3902
female        3643
season      summer
year            94
Name: 5, dtype: object)
(6, province    اصفهان
total        23125
male         11937
female       11188
season      summer
year            94
Name: 6, dtype: object)
(7, province     البرز
total        11373
male          5834
female        5539
season      summer
year            94
Name: 7, dtype: object)
(8, province     ايلام
total         3058
male          1527
female        1531
season      summer
year            94
Name: 8, dtype: object)
(9, province     بوشهر
total         5952
male          3087
female        2865
season      summer
year            94
Name: 9, dtype: object)
(10, province     تهران
total        55814
male         28721
female       27093
season      summer
year            94
Name: 10, dtype: object)
(11, province    چهارمحال وبختياري
total                    6002
male                     3123
female                   2879
season                 summer
year                       94
Name: 11, dtype: object)
(12, province    خراسان جنوبي
total               5144
male                2655
female              2489
season            summer
year                  94
Name: 12, dtype: object)
(13, province    خراسان رضوي
total             41172
male              21117
female            20055
season           summer
year                 94
Name: 13, dtype: object)
(14, province    خراسان شمالي
total               5136
male                2666
female              2470
season            summer
year                  94
Name: 14, dtype: object)
(15, province    خوزستان
total         30536
male          15671
female        14865
season       summer
year             94
Name: 15, dtype: object)
(16, province     زنجان
total         5688
male          2893
female        2795
season      summer
year            94
Name: 16, dtype: object)
(17, province     سمنان
total         2840
male          1445
female        1395
season      summer
year            94
Name: 17, dtype: object)
(18, province    سيستان وبلوچستان
total                  26337
male                   13525
female                 12812
season                summer
year                      94
Name: 18, dtype: object)
(19, province      فارس
total        23788
male         12303
female       11485
season      summer
year            94
Name: 19, dtype: object)
(20, province     قزوين
total         6282
male          3220
female        3062
season      summer
year            94
Name: 20, dtype: object)
(21, province        قم
total         7024
male          3593
female        3431
season      summer
year            94
Name: 21, dtype: object)
(22, province    كردستان
total          8723
male           4439
female         4284
season       summer
year             94
Name: 22, dtype: object)
(23, province     كرمان
total        17372
male          8781
female        8591
season      summer
year            94
Name: 23, dtype: object)
(24, province    كرمانشاه
total           9636
male            5004
female          4632
season        summer
year              94
Name: 24, dtype: object)
(25, province    كهگيلويه وبويراحمد
total                     4584
male                      2395
female                    2189
season                  summer
year                        94
Name: 25, dtype: object)
(26, province    گلستان
total        12666
male          6442
female        6224
season      summer
year            94
Name: 26, dtype: object)
(27, province     گيلان
total         8649
male          4390
female        4259
season      summer
year            94
Name: 27, dtype: object)
(28, province    لرستان
total        10455
male          5480
female        4975
season      summer
year            94
Name: 28, dtype: object)
(29, province    مازندران
total          13049
male            6722
female          6327
season        summer
year              94
Name: 29, dtype: object)
(30, province     مركزي
total         6339
male          3251
female        3088
season      summer
year            94
Name: 30, dtype: object)
(31, province    هرمزگان
total         11202
male           5781
female         5421
season       summer
year             94
Name: 31, dtype: object)
(32, province     همدان
total         9554
male          4960
female        4594
season      summer
year            94
Name: 32, dtype: object)
(33, province       يزد
total         6922
male          3572
female        3350
season      summer
year            94
Name: 33, dtype: object)
(3, province    آذربايجان شرقي
total                17184
male                  8849
female                8335
season                fall
year                    94
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                17364
male                  8924
female                8440
season                fall
year                    94
Name: 4, dtype: object)
(5, province    اردبيل
total         5992
male          3133
female        2859
season        fall
year            94
Name: 5, dtype: object)
(6, province    اصفهان
total        20658
male         10683
female        9975
season        fall
year            94
Name: 6, dtype: object)
(7, province    البرز
total       10198
male         5220
female       4978
season       fall
year           94
Name: 7, dtype: object)
(8, province    ايلام
total        2735
male         1379
female       1356
season       fall
year           94
Name: 8, dtype: object)
(9, province    بوشهر
total        5723
male         2895
female       2828
season       fall
year           94
Name: 9, dtype: object)
(10, province    تهران
total       50558
male        26021
female      24537
season       fall
year           94
Name: 10, dtype: object)
(11, province    چهارمحال وبختياري
total                    5185
male                     2663
female                   2522
season                   fall
year                       94
Name: 11, dtype: object)
(12, province    خراسان جنوبي
total               4485
male                2305
female              2180
season              fall
year                  94
Name: 12, dtype: object)
(13, province    خراسان رضوي
total             37702
male              19161
female            18541
season             fall
year                 94
Name: 13, dtype: object)
(14, province    خراسان شمالي
total               4761
male                2437
female              2324
season              fall
year                  94
Name: 14, dtype: object)
(15, province    خوزستان
total         29390
male          15076
female        14314
season         fall
year             94
Name: 15, dtype: object)
(16, province    زنجان
total        5116
male         2618
female       2498
season       fall
year           94
Name: 16, dtype: object)
(17, province    سمنان
total        2581
male         1291
female       1290
season       fall
year           94
Name: 17, dtype: object)
(18, province    سيستان وبلوچستان
total                  25891
male                   13266
female                 12625
season                  fall
year                      94
Name: 18, dtype: object)
(19, province     فارس
total       22693
male        11679
female      11014
season       fall
year           94
Name: 19, dtype: object)
(20, province    قزوين
total        5772
male         2952
female       2820
season       fall
year           94
Name: 20, dtype: object)
(21, province      قم
total       6770
male        3465
female      3305
season      fall
year          94
Name: 21, dtype: object)
(22, province    كردستان
total          7246
male           3771
female         3475
season         fall
year             94
Name: 22, dtype: object)
(23, province    كرمان
total       16173
male         8257
female       7916
season       fall
year           94
Name: 23, dtype: object)
(24, province    كرمانشاه
total           8638
male            4549
female          4089
season          fall
year              94
Name: 24, dtype: object)
(25, province    كهگيلويه وبويراحمد
total                     3950
male                      2025
female                    1925
season                    fall
year                        94
Name: 25, dtype: object)
(26, province    گلستان
total        10698
male          5443
female        5255
season        fall
year            94
Name: 26, dtype: object)
(27, province    گيلان
total        7844
male         3984
female       3860
season       fall
year           94
Name: 27, dtype: object)
(28, province    لرستان
total         9182
male          4795
female        4387
season        fall
year            94
Name: 28, dtype: object)
(29, province    مازندران
total          11600
male            6017
female          5583
season          fall
year              94
Name: 29, dtype: object)
(30, province    مركزي
total        5674
male         2903
female       2771
season       fall
year           94
Name: 30, dtype: object)
(31, province    هرمزگان
total         11125
male           5576
female         5549
season         fall
year             94
Name: 31, dtype: object)
(32, province    همدان
total        8512
male         4358
female       4154
season       fall
year           94
Name: 32, dtype: object)
(33, province     يزد
total       6430
male        3200
female      3230
season      fall
year          94
Name: 33, dtype: object)
(3, province    آذربايجان شرقي
total                17598
male                  9121
female                8477
season              winter
year                    94
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                17385
male                  8871
female                8514
season              winter
year                    94
Name: 4, dtype: object)
(5, province    اردبيل
total         6358
male          3288
female        3070
season      winter
year            94
Name: 5, dtype: object)
(6, province    اصفهان
total        20553
male         10592
female        9961
season      winter
year            94
Name: 6, dtype: object)
(7, province     البرز
total         9975
male          5083
female        4892
season      winter
year            94
Name: 7, dtype: object)
(8, province     ايلام
total         2622
male          1316
female        1306
season      winter
year            94
Name: 8, dtype: object)
(9, province     بوشهر
total         5422
male          2792
female        2630
season      winter
year            94
Name: 9, dtype: object)
(10, province     تهران
total        49519
male         25167
female       24352
season      winter
year            94
Name: 10, dtype: object)
(11, province    چهارمحال وبختياري
total                    5246
male                     2698
female                   2548
season                 winter
year                       94
Name: 11, dtype: object)
(12, province    خراسان جنوبي
total               4559
male                2324
female              2235
season            winter
year                  94
Name: 12, dtype: object)
(13, province    خراسان رضوي
total             37616
male              19351
female            18265
season           winter
year                 94
Name: 13, dtype: object)
(14, province    خراسان شمالي
total               5013
male                2631
female              2382
season            winter
year                  94
Name: 14, dtype: object)
(15, province    خوزستان
total         28152
male          14502
female        13650
season       winter
year             94
Name: 15, dtype: object)
(16, province     زنجان
total         5224
male          2666
female        2558
season      winter
year            94
Name: 16, dtype: object)
(17, province     سمنان
total         2604
male          1375
female        1229
season      winter
year            94
Name: 17, dtype: object)
(18, province    سيستان وبلوچستان
total                  25253
male                   12973
female                 12280
season                winter
year                      94
Name: 18, dtype: object)
(19, province      فارس
total        21714
male         11125
female       10589
season      winter
year            94
Name: 19, dtype: object)
(20, province     قزوين
total         5495
male          2790
female        2705
season      winter
year            94
Name: 20, dtype: object)
(21, province        قم
total         6518
male          3295
female        3223
season      winter
year            94
Name: 21, dtype: object)
(22, province    كردستان
total          7435
male           3888
female         3547
season       winter
year             94
Name: 22, dtype: object)
(23, province     كرمان
total        15165
male          7638
female        7527
season      winter
year            94
Name: 23, dtype: object)
(24, province    كرمانشاه
total           8938
male            4677
female          4261
season        winter
year              94
Name: 24, dtype: object)
(25, province    كهگيلويه وبويراحمد
total                     4101
male                      2090
female                    2011
season                  winter
year                        94
Name: 25, dtype: object)
(26, province    گلستان
total        10553
male          5369
female        5184
season      winter
year            94
Name: 26, dtype: object)
(27, province     گيلان
total         7297
male          3735
female        3562
season      winter
year            94
Name: 27, dtype: object)
(28, province    لرستان
total         9152
male          4786
female        4366
season      winter
year            94
Name: 28, dtype: object)
(29, province    مازندران
total          11111
male            5710
female          5401
season        winter
year              94
Name: 29, dtype: object)
(30, province     مركزي
total         5510
male          2857
female        2653
season      winter
year            94
Name: 30, dtype: object)
(31, province    هرمزگان
total         10258
male           5282
female         4976
season       winter
year             94
Name: 31, dtype: object)
(32, province     همدان
total         8409
male          4319
female        4090
season      winter
year            94
Name: 32, dtype: object)
(33, province       يزد
total         6068
male          3101
female        2967
season      winter
year            94
Name: 33, dtype: object)
(3, province    آذربايجان شرقي
total                17479
male                  9165
female                8314
season              spring
year                    95
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                16946
male                  8797
female                8149
season              spring
year                    95
Name: 4, dtype: object)
(5, province    اردبيل
total         6493
male          3355
female        3138
season      spring
year            95
Name: 5, dtype: object)

(3, province    آذربايجان شرقي
total                16635
male                  8660
female                7975
season                fall
year                    95
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                15887
male                  8287
female                7600
season                fall
year                    95
Name: 4, dtype: object)
(5, province    اردبيل
total         5641
male          2965
female        2676
season        fall
year            95
Name: 5, dtype: object)
(6, province    اصفهان
total        20444
male         10430
female       10014
season        fall
year            95
Name: 6, dtype: object)
(7, province    البرز
total        9810
male         5002
female       4808
season       fall
year           95
Name: 7, dtype: object)
(8, province    ايلام
total        2727
male         1408
female       1319
season       fall
year           95
Name: 8, dtype: object)
(9, province    بوشهر
total        5969
male         3124
female       2845
season       fall
year           95
Name: 9, dtype: object)
(10, province    تهران
total       50169
male        25828
female      24341
season       fall
year           95
Name: 10, dtype: object)
(11, province    چهارمحال وبختياري
total                    4997
male                     2578
female                   2419
season                   fall
year                       95
Name: 11, dtype: object)
(12, province    خراسان جنوبي
total               4355
male                2203
female              2152
season              fall
year                  95
Name: 12, dtype: object)
(13, province    خراسان رضوي
total             35676
male              18276
female            17400
season             fall
year                 95
Name: 13, dtype: object)
(14, province    خراسان شمالي
total               4606
male                2366
female              2240
season              fall
year                  95
Name: 14, dtype: object)
(15, province    خوزستان
total         29815
male          15375
female        14440
season         fall
year             95
Name: 15, dtype: object)
(16, province    زنجان
total        4861
male         2508
female       2353
season       fall
year           95
Name: 16, dtype: object)
(17, province    سمنان
total        2513
male         1318
female       1195
season       fall
year           95
Name: 17, dtype: object)
(18, province    سيستان وبلوچستان
total                  24240
male                   12372
female                 11868
season                  fall
year                      95
Name: 18, dtype: object)
(19, province     فارس
total       21970
male        11270
female      10700
season       fall
year           95
Name: 19, dtype: object)
(20, province    قزوين
total        5255
male         2645
female       2610
season       fall
year           95
Name: 20, dtype: object)
(21, province      قم
total       6774
male        3478
female      3296
season      fall
year          95
Name: 21, dtype: object)
(22, province    كردستان
total          7095
male           3642
female         3453
season         fall
year             95
Name: 22, dtype: object)
(23, province    كرمان
total       16044
male         8136
female       7908
season       fall
year           95
Name: 23, dtype: object)
(24, province    كرمانشاه
total           8317
male            4333
female          3984
season          fall
year              95
Name: 24, dtype: object)
(25, province    كهگيلويه وبويراحمد
total                     3968
male                      2034
female                    1934
season                    fall
year                        95
Name: 25, dtype: object)
(26, province    گلستان
total        10509
male          5398
female        5111
season        fall
year            95
Name: 26, dtype: object)
(27, province    گيلان
total        7514
male         3844
female       3670
season       fall
year           95
Name: 27, dtype: object)
(28, province    لرستان
total         8757
male          4634
female        4123
season        fall
year            95
Name: 28, dtype: object)
(29, province    مازندران
total          11572
male            5914
female          5658
season          fall
year              95
Name: 29, dtype: object)
(30, province    مركزي
total        5229
male         2670
female       2559
season       fall
year           95
Name: 30, dtype: object)
(31, province    هرمزگان
total         11228
male           5660
female         5568
season         fall
year             95
Name: 31, dtype: object)
(32, province    همدان
total        7769
male         4070
female       3699
season       fall
year           95
Name: 32, dtype: object)
(33, province     يزد
total       6394
male        3223
female      3171
season      fall
year          95
Name: 33, dtype: object)
(3, province    آذربايجان شرقي
total                16767
male                  8739
female                8028
season              winter
year                    95
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                16295
male                  8446
female                7849
season              winter
year                    95
Name: 4, dtype: object)
(5, province    اردبيل
total         5628
male          2941
female        2687
season      winter
year            95
Name: 5, dtype: object)
(6, province    اصفهان
total        19962
male         10225
female        9737
season      winter
year            95
Name: 6, dtype: object)
(7, province     البرز
total         9818
male          5131
female        4687
season      winter
year            95
Name: 7, dtype: object)
(8, province     ايلام
total         2584
male          1363
female        1221
season      winter
year            95
Name: 8, dtype: object)
(9, province     بوشهر
total         5714
male          2894
female        2820
season      winter
year            95
Name: 9, dtype: object)
(10, province     تهران
total        48714
male         25033
female       23681
season      winter
year            95
Name: 10, dtype: object)
(11, province    چهارمحال وبختياري
total                    4982
male                     2588
female                   2394
season                 winter
year                       95
Name: 11, dtype: object)
(12, province    خراسان جنوبي
total               4386
male                2305
female              2081
season            winter
year                  95
Name: 12, dtype: object)
(13, province    خراسان رضوي
total             35524
male              18143
female            17381
season           winter
year                 95
Name: 13, dtype: object)
(14, province    خراسان شمالي
total               4747
male                2438
female              2309
season            winter
year                  95
Name: 14, dtype: object)
(15, province    خوزستان
total         27876
male          14378
female        13498
season       winter
year             95
Name: 15, dtype: object)
(16, province     زنجان
total         5017
male          2538
female        2479
season      winter
year            95
Name: 16, dtype: object)
(17, province     سمنان
total         2555
male          1307
female        1248
season      winter
year            95
Name: 17, dtype: object)
(18, province    سيستان وبلوچستان
total                  23745
male                   12187
female                 11558
season                winter
year                      95
Name: 18, dtype: object)
(19, province      فارس
total        21455
male         10988
female       10467
season      winter
year            95
Name: 19, dtype: object)
(20, province     قزوين
total         4958
male          2561
female        2397
season      winter
year            95
Name: 20, dtype: object)
(21, province        قم
total         6552
male          3415
female        3137
season      winter
year            95
Name: 21, dtype: object)
(22, province    كردستان
total          7367
male           3773
female         3594
season       winter
year             95
Name: 22, dtype: object)
(23, province     كرمان
total        14781
male          7588
female        7193
season      winter
year            95
Name: 23, dtype: object)
(24, province    كرمانشاه
total           8621
male            4574
female          4047
season        winter
year              95
Name: 24, dtype: object)
(25, province    كهگيلويه وبويراحمد
total                     3835
male                      1905
female                    1930
season                  winter
year                        95
Name: 25, dtype: object)
(26, province    گلستان
total         9624
male          4940
female        4684
season      winter
year            95
Name: 26, dtype: object)
(27, province     گيلان
total         7356
male          3814
female        3542
season      winter
year            95
Name: 27, dtype: object)
(28, province    لرستان
total         8650
male          4490
female        4160
season      winter
year            95
Name: 28, dtype: object)
(29, province    مازندران
total          10815
male            5593
female          5222
season        winter
year              95
Name: 29, dtype: object)
(30, province     مركزي
total         5242
male          2713
female        2529
season      winter
year            95
Name: 30, dtype: object)
(31, province    هرمزگان
total         10641
male           5466
female         5175
season       winter
year             95
Name: 31, dtype: object)
(32, province     همدان
total         7744
male          3984
female        3760
season      winter
year            95
Name: 32, dtype: object)
(33, province       يزد
total         6065
male          3145
female        2920
season      winter
year            95
Name: 33, dtype: object)
(3, province    آذربايجان شرقي
total                17244
male                  8980
female                8264
season              spring
year                    96
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                16316
male                  8416
female                7900
season              spring
year                    96
Name: 4, dtype: object)
(5, province    اردبيل
total         6282
male          3328
female        2954
season      spring
year            96
Name: 5, dtype: object)
(6, province    اصفهان
total        20877
male         10723
female       10154
season      spring
year            96
Name: 6, dtype: object)
(7, province     البرز
total        10008
male          5153
female        4855
season      spring
year            96
Name: 7, dtype: object)
(8, province     ايلام
total         2522
male          1334
female        1188
season      spring
year            96
Name: 8, dtype: object)
(9, province     بوشهر
total         5186
male          2698
female        2488
season      spring
year            96
Name: 9, dtype: object)
(10, province     تهران
total        50335
male         25800
female       24535
season      spring
year            96
Name: 10, dtype: object)
(11, province    چهارمحال وبختياري
total                    5428
male                     2822
female                   2606
season                 spring
year                       96
Name: 11, dtype: object)
(12, province    خراسان جنوبي
total               4635
male                2454
female              2181
season            spring
year                  96
Name: 12, dtype: object)
(13, province    خراسان رضوي
total             37633
male              19204
female            18429
season           spring
year                 96
Name: 13, dtype: object)
(14, province    خراسان شمالي
total               4754
male                2443
female              2311
season            spring
year                  96
Name: 14, dtype: object)
(15, province    خوزستان
total         26448
male          13717
female        12731
season       spring
year             96
Name: 15, dtype: object)
(16, province     زنجان
total         5329
male          2736
female        2593
season      spring
year            96
Name: 16, dtype: object)
(17, province     سمنان
total         2724
male          1376
female        1348
season      spring
year            96
Name: 17, dtype: object)
(18, province    سيستان وبلوچستان
total                  23940
male                   12232
female                 11708
season                spring
year                      96
Name: 18, dtype: object)
(19, province      فارس
total        20859
male         10744
female       10115
season      spring
year            96
Name: 19, dtype: object)
(20, province     قزوين
total         5328
male          2744
female        2584
season      spring
year            96
Name: 20, dtype: object)
(21, province        قم
total         6373
male          3260
female        3113
season      spring
year            96
Name: 21, dtype: object)
(22, province    كردستان
total          7648
male           4007
female         3641
season       spring
year             96
Name: 22, dtype: object)
(23, province     كرمان
total        15122
male          7789
female        7333
season      spring
year            96
Name: 23, dtype: object)
(24, province    كرمانشاه
total           8282
male            4315
female          3967
season        spring
year              96
Name: 24, dtype: object)
(25, province    كهگيلويه وبويراحمد
total                     3821
male                      1981
female                    1840
season                  spring
year                        96
Name: 25, dtype: object)
(26, province    گلستان
total         9889
male          5077
female        4812
season      spring
year            96
Name: 26, dtype: object)
(27, province     گيلان
total         6967
male          3631
female        3336
season      spring
year            96
Name: 27, dtype: object)
(28, province    لرستان
total         8660
male          4577
female        4083
season      spring
year            96
Name: 28, dtype: object)
(29, province    مازندران
total          10608
male            5425
female          5183
season        spring
year              96
Name: 29, dtype: object)
(30, province     مركزي
total         5442
male          2776
female        2666
season      spring
year            96
Name: 30, dtype: object)
(31, province    هرمزگان
total          9889
male           5058
female         4831
season       spring
year             96
Name: 31, dtype: object)
(32, province     همدان
total         8242
male          4243
female        3999
season      spring
year            96
Name: 32, dtype: object)
(33, province       يزد
total         6250
male          3226
female        3024
season      spring
year            96
Name: 33, dtype: object)
(3, province    آذربايجان شرقي
total                18009
male                  9327
female                8682
season              summer
year                    96
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                17796
male                  9254
female                8542
season              summer
year                    96
Name: 4, dtype: object)
(5, province    اردبيل
total         6361
male          3351
female        3010
season      summer
year            96
Name: 5, dtype: object)
(6, province    اصفهان
total        21163
male         10892
female       10271
season      summer
year            96
Name: 6, dtype: object)
(7, province     البرز
total        10814
male          5533
female        5281
season      summer
year            96
Name: 7, dtype: object)
(8, province     ايلام
total         2855
male          1457
female        1398
season      summer
year            96
Name: 8, dtype: object)
(9, province     بوشهر
total         5684
male          2922
female        2762
season      summer
year            96
Name: 9, dtype: object)
(10, province     تهران
total        52769
male         27258
female       25511
season      summer
year            96
Name: 10, dtype: object)
(11, province    چهارمحال وبختياري
total                    5434
male                     2841
female                   2593
season                 summer
year                       96
Name: 11, dtype: object)
(12, province    خراسان جنوبي
total               4812
male                2513
female              2299
season            summer
year                  96
Name: 12, dtype: object)
(13, province    خراسان رضوي
total             37871
male              19432
female            18439
season           summer
year                 96
Name: 13, dtype: object)
(14, province    خراسان شمالي
total               4799
male                2435
female              2364
season            summer
year                  96
Name: 14, dtype: object)
(15, province    خوزستان
total         29717
male          15258
female        14459
season       summer
year             96
Name: 15, dtype: object)
(16, province     زنجان
total         5314
male          2758
female        2556
season      summer
year            96
Name: 16, dtype: object)
(17, province     سمنان
total         2672
male          1380
female        1292
season      summer
year            96
Name: 17, dtype: object)
(18, province    سيستان وبلوچستان
total                  23575
male                   12175
female                 11400
season                summer
year                      96
Name: 18, dtype: object)
(19, province      فارس
total        22394
male         11471
female       10923
season      summer
year            96
Name: 19, dtype: object)
(20, province     قزوين
total         5539
male          2863
female        2676
season      summer
year            96
Name: 20, dtype: object)
(21, province        قم
total         6587
male          3391
female        3196
season      summer
year            96
Name: 21, dtype: object)
(22, province    كردستان
total          7871
male           4022
female         3849
season       summer
year             96
Name: 22, dtype: object)
(23, province     كرمان
total        15320
male          7918
female        7402
season      summer
year            96
Name: 23, dtype: object)
(24, province    كرمانشاه
total           9030
male            4753
female          4277
season        summer
year              96
Name: 24, dtype: object)
(25, province    كهگيلويه وبويراحمد
total                     4044
male                      2150
female                    1894
season                  summer
year                        96
Name: 25, dtype: object)
(26, province    گلستان
total        11135
male          5740
female        5395
season      summer
year            96
Name: 26, dtype: object)
(27, province     گيلان
total         7868
male          4101
female        3767
season      summer
year            96
Name: 27, dtype: object)
(28, province    لرستان
total         9625
male          4997
female        4628
season      summer
year            96
Name: 28, dtype: object)
(29, province    مازندران
total          11754
male            6003
female          5751
season        summer
year              96
Name: 29, dtype: object)
(30, province     مركزي
total         5514
male          2816
female        2698
season      summer
year            96
Name: 30, dtype: object)
(31, province    هرمزگان
total         10299
male           5238
female         5061
season       summer
year             96
Name: 31, dtype: object)
(32, province     همدان
total         8131
male          4214
female        3917
season      summer
year            96
Name: 32, dtype: object)
(33, province       يزد
total         6539
male          3359
female        3180
season      summer
year            96
Name: 33, dtype: object)
(3, province    آذربايجان شرقي
total                16557
male                  8608
female                7949
season                fall
year                    96
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                15848
male                  8128
female                7720
season                fall
year                    96
Name: 4, dtype: object)
(5, province    اردبيل
total         5601
male          2985
female        2616
season        fall
year            96
Name: 5, dtype: object)

(3, province    آذربايجان شرقي
total                15801
male                  8217
female                7584
season              spring
year                    97
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                15648
male                  8111
female                7537
season              spring
year                    97
Name: 4, dtype: object)
(5, province    اردبيل
total         5792
male          3084
female        2708
season      spring
year            97
Name: 5, dtype: object)
(6, province    اصفهان
total        18802
male          9573
female        9229
season      spring
year            97
Name: 6, dtype: object)
(7, province     البرز
total         8863
male          4609
female        4254
season      spring
year            97
Name: 7, dtype: object)
(8, province     ايلام
total         2363
male          1223
female        1140
season      spring
year            97
Name: 8, dtype: object)
(9, province     بوشهر
total         4651
male          2414
female        2237
season      spring
year            97
Name: 9, dtype: object)
(10, province     تهران
total        45187
male         23207
female       21980
season      spring
year            97
Name: 10, dtype: object)
(11, province    چهارمحال وبختياري
total                    5014
male                     2560
female                   2454
season                 spring
year                       97
Name: 11, dtype: object)
(12, province    خراسان جنوبي
total               4375
male                2235
female              2140
season            spring
year                  97
Name: 12, dtype: object)
(13, province    خراسان رضوي
total             34769
male              17753
female            17016
season           spring
year                 97
Name: 13, dtype: object)
(14, province    خراسان شمالي
total               4206
male                2159
female              2047
season            spring
year                  97
Name: 14, dtype: object)
(15, province    خوزستان
total         25872
male          13153
female        12719
season       spring
year             97
Name: 15, dtype: object)
(16, province     زنجان
total         4758
male          2490
female        2268
season      spring
year            97
Name: 16, dtype: object)
(17, province     سمنان
total         2418
male          1243
female        1175
season      spring
year            97
Name: 17, dtype: object)
(18, province    سيستان وبلوچستان
total                  23833
male                   12347
female                 11486
season                spring
year                      97
Name: 18, dtype: object)
(19, province      فارس
total        19175
male          9947
female        9228
season      spring
year            97
Name: 19, dtype: object)
(20, province     قزوين
total         4799
male          2429
female        2370
season      spring
year            97
Name: 20, dtype: object)
(21, province        قم
total         5877
male          3034
female        2843
season      spring
year            97
Name: 21, dtype: object)
(22, province    كردستان
total          7282
male           3761
female         3521
season       spring
year             97
Name: 22, dtype: object)
(23, province     كرمان
total        13963
male          7254
female        6709
season      spring
year            97
Name: 23, dtype: object)
(24, province    كرمانشاه
total           7620
male            3948
female          3672
season        spring
year              97
Name: 24, dtype: object)
(25, province    كهگيلويه وبويراحمد
total                     3611
male                      1878
female                    1733
season                  spring
year                        97
Name: 25, dtype: object)
(26, province    گلستان
total         8957
male          4506
female        4451
season      spring
year            97
Name: 26, dtype: object)
(27, province     گيلان
total         6460
male          3374
female        3086
season      spring
year            97
Name: 27, dtype: object)
(28, province    لرستان
total         8342
male          4255
female        4087
season      spring
year            97
Name: 28, dtype: object)
(29, province    مازندران
total           9325
male            4849
female          4476
season        spring
year              97
Name: 29, dtype: object)
(30, province     مركزي
total         4782
male          2486
female        2296
season      spring
year            97
Name: 30, dtype: object)
(31, province    هرمزگان
total          8716
male           4437
female         4279
season       spring
year             97
Name: 31, dtype: object)
(32, province     همدان
total         7572
male          3920
female        3652
season      spring
year            97
Name: 32, dtype: object)
(33, province       يزد
total         5678
male          2917
female        2761
season      spring
year            97
Name: 33, dtype: object)
(3, province    آذربايجان شرقي
total                16534
male                  8682
female                7852
season              summer
year                    97
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                15830
male                  8238
female                7592
season              summer
year                    97
Name: 4, dtype: object)
(5, province    اردبيل
total         5975
male          3196
female        2779
season      summer
year            97
Name: 5, dtype: object)
(6, province    اصفهان
total        19794
male         10125
female        9669
season      summer
year            97
Name: 6, dtype: object)
(7, province     البرز
total         9412
male          4886
female        4526
season      summer
year            97
Name: 7, dtype: object)
(8, province     ايلام
total         2874
male          1548
female        1326
season      summer
year            97
Name: 8, dtype: object)
(9, province     بوشهر
total         5218
male          2721
female        2497
season      summer
year            97
Name: 9, dtype: object)
(10, province     تهران
total        48661
male         25226
female       23435
season      summer
year            97
Name: 10, dtype: object)
(11, province    چهارمحال وبختياري
total                    5083
male                     2634
female                   2449
season                 summer
year                       97
Name: 11, dtype: object)
(12, province    خراسان جنوبي
total               4356
male                2245
female              2111
season            summer
year                  97
Name: 12, dtype: object)
(13, province    خراسان رضوي
total             34568
male              17601
female            16967
season           summer
year                 97
Name: 13, dtype: object)
(14, province    خراسان شمالي
total               4195
male                2136
female              2059
season            summer
year                  97
Name: 14, dtype: object)
(15, province    خوزستان
total         29377
male          15103
female        14274
season       summer
year             97
Name: 15, dtype: object)
(16, province     زنجان
total         4780
male          2466
female        2314
season      summer
year            97
Name: 16, dtype: object)
(17, province     سمنان
total         2506
male          1296
female        1210
season      summer
year            97
Name: 17, dtype: object)
(18, province    سيستان وبلوچستان
total                  23472
male                   12063
female                 11409
season                summer
year                      97
Name: 18, dtype: object)
(19, province      فارس
total        20164
male         10413
female        9751
season      summer
year            97
Name: 19, dtype: object)
(20, province     قزوين
total         5008
male          2574
female        2434
season      summer
year            97
Name: 20, dtype: object)
(21, province        قم
total         6103
male          3161
female        2942
season      summer
year            97
Name: 21, dtype: object)
(22, province    كردستان
total          7458
male           3833
female         3625
season       summer
year             97
Name: 22, dtype: object)
(23, province     كرمان
total        14635
male          7511
female        7124
season      summer
year            97
Name: 23, dtype: object)
(24, province    كرمانشاه
total           7676
male            4046
female          3630
season        summer
year              97
Name: 24, dtype: object)
(25, province    كهگيلويه وبويراحمد
total                     3782
male                      1965
female                    1817
season                  summer
year                        97
Name: 25, dtype: object)
(26, province    گلستان
total        10195
male          5225
female        4970
season      summer
year            97
Name: 26, dtype: object)
(27, province     گيلان
total         7128
male          3641
female        3487
season      summer
year            97
Name: 27, dtype: object)
(28, province    لرستان
total         8729
male          4540
female        4189
season      summer
year            97
Name: 28, dtype: object)
(29, province    مازندران
total          10745
male            5529
female          5216
season        summer
year              97
Name: 29, dtype: object)
(30, province     مركزي
total         4912
male          2536
female        2376
season      summer
year            97
Name: 30, dtype: object)
(31, province    هرمزگان
total          9857
male           5057
female         4800
season       summer
year             97
Name: 31, dtype: object)
(32, province     همدان
total         7487
male          3870
female        3617
season      summer
year            97
Name: 32, dtype: object)
(33, province       يزد
total         5801
male          2957
female        2844
season      summer
year            97
Name: 33, dtype: object)
(3, province    آذربايجان شرقي
total                14855
male                  7710
female                7145
season                fall
year                    97
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                15034
male                  7810
female                7224
season                fall
year                    97
Name: 4, dtype: object)
(5, province    اردبيل
total         5269
male          2774
female        2495
season        fall
year            97
Name: 5, dtype: object)
(6, province    اصفهان
total        17856
male          9100
female        8756
season        fall
year            97
Name: 6, dtype: object)
(7, province    البرز
total        8481
male         4417
female       4064
season       fall
year           97
Name: 7, dtype: object)
(8, province    ايلام
total        2398
male         1225
female       1173
season       fall
year           97
Name: 8, dtype: object)
(9, province    بوشهر
total        5149
male         2676
female       2473
season       fall
year           97
Name: 9, dtype: object)
(10, province    تهران
total       43948
male        22808
female      21140
season       fall
year           97
Name: 10, dtype: object)
(11, province    چهارمحال وبختياري
total                    4423
male                     2339
female                   2084
season                   fall
year                       97
Name: 11, dtype: object)
(12, province    خراسان جنوبي
total               3996
male                2009
female              1987
season              fall
year                  97
Name: 12, dtype: object)
(13, province    خراسان رضوي
total             32170
male              16554
female            15616
season             fall
year                 97
Name: 13, dtype: object)
(14, province    خراسان شمالي
total               3987
male                2083
female              1904
season              fall
year                  97
Name: 14, dtype: object)
(15, province    خوزستان
total         29004
male          14888
female        14116
season         fall
year             97
Name: 15, dtype: object)
(16, province    زنجان
total        4595
male         2357
female       2238
season       fall
year           97
Name: 16, dtype: object)
(17, province    سمنان
total        2230
male         1142
female       1088
season       fall
year           97
Name: 17, dtype: object)
(18, province    سيستان وبلوچستان
total                  23279
male                   11888
female                 11391
season                  fall
year                      97
Name: 18, dtype: object)
(19, province     فارس
total       19135
male         9741
female       9394
season       fall
year           97
Name: 19, dtype: object)
(20, province    قزوين
total        4438
male         2305
female       2133
season       fall
year           97
Name: 20, dtype: object)
(21, province      قم
total       5845
male        2968
female      2877
season      fall
year          97
Name: 21, dtype: object)
(22, province    كردستان
total          6462
male           3249
female         3213
season         fall
year             97
Name: 22, dtype: object)
(23, province    كرمان
total       14199
male         7242
female       6957
season       fall
year           97
Name: 23, dtype: object)
(24, province    كرمانشاه
total           7436
male            3952
female          3484
season          fall
year              97
Name: 24, dtype: object)
(25, province    كهگيلويه وبويراحمد
total                     3561
male                      1773
female                    1788
season                    fall
year                        97
Name: 25, dtype: object)
(26, province    گلستان
total         9481
male          4811
female        4670
season        fall
year            97
Name: 26, dtype: object)
(27, province    گيلان
total        6702
male         3468
female       3234
season       fall
year           97
Name: 27, dtype: object)
(28, province    لرستان
total         7928
male          4095
female        3833
season        fall
year            97
Name: 28, dtype: object)
(29, province    مازندران
total          10304
male            5245
female          5059
season          fall
year              97
Name: 29, dtype: object)
(30, province    مركزي
total        4476
male         2290
female       2186
season       fall
year           97
Name: 30, dtype: object)
(31, province    هرمزگان
total         10309
male           5249
female         5060
season         fall
year             97
Name: 31, dtype: object)
(32, province    همدان
total        6819
male         3593
female       3226
season       fall
year           97
Name: 32, dtype: object)
(33, province     يزد
total       5560
male        2774
female      2786
season      fall
year          97
Name: 33, dtype: object)
(3, province    آذربايجان شرقي
total                14197
male                  7479
female                6718
season              winter
year                    97
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                14353
male                  7378
female                6975
season              winter
year                    97
Name: 4, dtype: object)
(5, province    اردبيل
total         5006
male          2649
female        2357
season      winter
year            97
Name: 5, dtype: object)
(6, province    اصفهان
total        16691
male          8550
female        8141
season      winter
year            97
Name: 6, dtype: object)
(7, province     البرز
total         8197
male          4252
female        3945
season      winter
year            97
Name: 7, dtype: object)
(8, province     ايلام
total         2363
male          1240
female        1123
season      winter
year            97
Name: 8, dtype: object)
(9, province     بوشهر
total         4676
male          2504
female        2172
season      winter
year            97
Name: 9, dtype: object)
(10, province     تهران
total        42493
male         21931
female       20562
season      winter
year            97
Name: 10, dtype: object)
(11, province    چهارمحال وبختياري
total                    4298
male                     2164
female                   2134
season                 winter
year                       97
Name: 11, dtype: object)
(12, province    خراسان جنوبي
total               4072
male                2115
female              1957
season            winter
year                  97
Name: 12, dtype: object)
(13, province    خراسان رضوي
total             30882
male              15800
female            15082
season           winter
year                 97
Name: 13, dtype: object)
(14, province    خراسان شمالي
total               4121
male                2125
female              1996
season            winter
year                  97
Name: 14, dtype: object)
(15, province    خوزستان
total         26556
male          13507
female        13049
season       winter
year             97
Name: 15, dtype: object)
(16, province     زنجان
total         4364
male          2302
female        2062
season      winter
year            97
Name: 16, dtype: object)
(17, province     سمنان
total         2175
male          1136
female        1039
season      winter
year            97
Name: 17, dtype: object)
(18, province    سيستان وبلوچستان
total                  22065
male                   11252
female                 10813
season                winter
year                      97
Name: 18, dtype: object)
(19, province      فارس
total        17444
male          9001
female        8443
season      winter
year            97
Name: 19, dtype: object)
(20, province     قزوين
total         4347
male          2227
female        2120
season      winter
year            97
Name: 20, dtype: object)
(21, province        قم
total         5401
male          2770
female        2631
season      winter
year            97
Name: 21, dtype: object)
(22, province    كردستان
total          6299
male           3271
female         3028
season       winter
year             97
Name: 22, dtype: object)
(23, province     كرمان
total        12934
male          6616
female        6318
season      winter
year            97
Name: 23, dtype: object)
(24, province    كرمانشاه
total           7222
male            3763
female          3459
season        winter
year              97
Name: 24, dtype: object)
(25, province    كهگيلويه وبويراحمد
total                     3255
male                      1668
female                    1587
season                  winter
year                        97
Name: 25, dtype: object)
(26, province    گلستان
total         8612
male          4432
female        4180
season      winter
year            97
Name: 26, dtype: object)
(27, province     گيلان
total         6383
male          3308
female        3075
season      winter
year            97
Name: 27, dtype: object)
(28, province    لرستان
total         7373
male          3924
female        3449
season      winter
year            97
Name: 28, dtype: object)
(29, province    مازندران
total           9472
male            4845
female          4627
season        winter
year              97
Name: 29, dtype: object)
(30, province     مركزي
total         4272
male          2191
female        2081
season      winter
year            97
Name: 30, dtype: object)
(31, province    هرمزگان
total          9052
male           4620
female         4432
season       winter
year             97
Name: 31, dtype: object)
(32, province     همدان
total         6588
male          3401
female        3187
season      winter
year            97
Name: 32, dtype: object)
(33, province       يزد
total         5178
male          2665
female        2513
season      winter
year            97
Name: 33, dtype: object)
(3, province    آذربايجان شرقي
total                13711
male                  7255
female                6456
season              spring
year                    98
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                14090
male                  7294
female                6796
season              spring
year                    98
Name: 4, dtype: object)
(5, province    اردبيل
total         5191
male          2716
female        2475
season      spring
year            98
Name: 5, dtype: object)

(3, province    آذربايجان شرقي
total                12702
male                  6574
female                6128
season              winter
year                    98
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                13285
male                  6947
female                6338
season              winter
year                    98
Name: 4, dtype: object)
(5, province    اردبيل
total         4452
male          2250
female        2202
season      winter
year            98
Name: 5, dtype: object)
(6, province    اصفهان
total        14078
male          7256
female        6822
season      winter
year            98
Name: 6, dtype: object)
(7, province     البرز
total         6902
male          3614
female        3288
season      winter
year            98
Name: 7, dtype: object)
(8, province     ايلام
total         2036
male          1027
female        1009
season      winter
year            98
Name: 8, dtype: object)
(9, province     بوشهر
total         4009
male          2082
female        1927
season      winter
year            98
Name: 9, dtype: object)
(10, province     تهران
total        36770
male         18829
female       17941
season      winter
year            98
Name: 10, dtype: object)
(11, province    چهارمحال وبختياري
total                    3751
male                     1911
female                   1840
season                 winter
year                       98
Name: 11, dtype: object)
(12, province    خراسان جنوبي
total               3664
male                1883
female              1781
season            winter
year                  98
Name: 12, dtype: object)
(13, province    خراسان رضوي
total             27088
male              13958
female            13130
season           winter
year                 98
Name: 13, dtype: object)
(14, province    خراسان شمالي
total               3608
male                1864
female              1744
season            winter
year                  98
Name: 14, dtype: object)
(15, province    خوزستان
total         23177
male          11878
female        11299
season       winter
year             98
Name: 15, dtype: object)
(16, province     زنجان
total         3712
male          1996
female        1716
season      winter
year            98
Name: 16, dtype: object)
(17, province     سمنان
total         1913
male           970
female         943
season      winter
year            98
Name: 17, dtype: object)
(18, province    سيستان وبلوچستان
total                  21705
male                   11191
female                 10514
season                winter
year                      98
Name: 18, dtype: object)
(19, province      فارس
total        15457
male          7925
female        7532
season      winter
year            98
Name: 19, dtype: object)
(20, province     قزوين
total         3697
male          1940
female        1757
season      winter
year            98
Name: 20, dtype: object)
(21, province        قم
total         4486
male          2284
female        2202
season      winter
year            98
Name: 21, dtype: object)
(22, province    كردستان
total          5692
male           2930
female         2762
season       winter
year             98
Name: 22, dtype: object)
(23, province     كرمان
total        11572
male          5841
female        5731
season      winter
year            98
Name: 23, dtype: object)
(24, province    كرمانشاه
total           6415
male            3387
female          3028
season        winter
year              98
Name: 24, dtype: object)
(25, province    كهگيلويه وبويراحمد
total                     2774
male                      1400
female                    1374
season                  winter
year                        98
Name: 25, dtype: object)
(26, province    گلستان
total         7682
male          3891
female        3791
season      winter
year            98
Name: 26, dtype: object)
(27, province     گيلان
total         5462
male          2824
female        2638
season      winter
year            98
Name: 27, dtype: object)
(28, province    لرستان
total         6470
male          3399
female        3071
season      winter
year            98
Name: 28, dtype: object)
(29, province    مازندران
total           7886
male            4075
female          3811
season        winter
year              98
Name: 29, dtype: object)
(30, province     مركزي
total         3607
male          1837
female        1770
season      winter
year            98
Name: 30, dtype: object)
(31, province    هرمزگان
total          8516
male           4378
female         4138
season       winter
year             98
Name: 31, dtype: object)
(32, province     همدان
total         5856
male          3045
female        2811
season      winter
year            98
Name: 32, dtype: object)
(33, province       يزد
total         4355
male          2199
female        2156
season      winter
year            98
Name: 33, dtype: object)
(3, province    آذربايجان شرقي
total                13034
male                  6839
female                6195
season              spring
year                    99
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                13832
male                  7247
female                6585
season              spring
year                    99
Name: 4, dtype: object)
(5, province    اردبيل
total         4735
male          2515
female        2220
season      spring
year            99
Name: 5, dtype: object)
(6, province    اصفهان
total        14177
male          7209
female        6968
season      spring
year            99
Name: 6, dtype: object)
(7, province     البرز
total         6305
male          3364
female        2941
season      spring
year            99
Name: 7, dtype: object)
(8, province     ايلام
total         1896
male          1007
female         889
season      spring
year            99
Name: 8, dtype: object)
(9, province     بوشهر
total         3736
male          1907
female        1829
season      spring
year            99
Name: 9, dtype: object)
(10, province     تهران
total        35656
male         18411
female       17245
season      spring
year            99
Name: 10, dtype: object)
(11, province    چهارمحال وبختياري
total                    4042
male                     2033
female                   2009
season                 spring
year                       99
Name: 11, dtype: object)
(12, province    خراسان جنوبي
total               3907
male                2062
female              1845
season            spring
year                  99
Name: 12, dtype: object)
(13, province    خراسان رضوي
total             27760
male              14215
female            13545
season           spring
year                 99
Name: 13, dtype: object)
(14, province    خراسان شمالي
total               3729
male                1957
female              1772
season            spring
year                  99
Name: 14, dtype: object)
(15, province    خوزستان
total         21192
male          10807
female        10385
season       spring
year             99
Name: 15, dtype: object)
(16, province     زنجان
total         4044
male          2132
female        1912
season      spring
year            99
Name: 16, dtype: object)
(17, province     سمنان
total         1905
male           959
female         946
season      spring
year            99
Name: 17, dtype: object)
(18, province    سيستان وبلوچستان
total                  21745
male                   11204
female                 10541
season                spring
year                      99
Name: 18, dtype: object)
(19, province      فارس
total        15152
male          7779
female        7373
season      spring
year            99
Name: 19, dtype: object)
(20, province     قزوين
total         3810
male          1962
female        1848
season      spring
year            99
Name: 20, dtype: object)
(21, province        قم
total         4369
male          2184
female        2185
season      spring
year            99
Name: 21, dtype: object)
(22, province    كردستان
total          6030
male           3158
female         2872
season       spring
year             99
Name: 22, dtype: object)
(23, province     كرمان
total        11280
male          5750
female        5530
season      spring
year            99
Name: 23, dtype: object)
(24, province    كرمانشاه
total           6288
male            3260
female          3028
season        spring
year              99
Name: 24, dtype: object)
(25, province    كهگيلويه وبويراحمد
total                     2897
male                      1513
female                    1384
season                  spring
year                        99
Name: 25, dtype: object)
(26, province    گلستان
total         7656
male          3980
female        3676
season      spring
year            99
Name: 26, dtype: object)
(27, province     گيلان
total         5201
male          2647
female        2554
season      spring
year            99
Name: 27, dtype: object)
(28, province    لرستان
total         6940
male          3673
female        3267
season      spring
year            99
Name: 28, dtype: object)
(29, province    مازندران
total           7406
male            3798
female          3608
season        spring
year              99
Name: 29, dtype: object)
(30, province     مركزي
total         3727
male          1870
female        1857
season      spring
year            99
Name: 30, dtype: object)
(31, province    هرمزگان
total          7520
male           3877
female         3643
season       spring
year             99
Name: 31, dtype: object)
(32, province     همدان
total         6077
male          3178
female        2899
season      spring
year            99
Name: 32, dtype: object)
(33, province       يزد
total         4507
male          2271
female        2236
season      spring
year            99
Name: 33, dtype: object)
(3, province    آذربايجان شرقي
total                13344
male                  6982
female                6362
season              summer
year                    99
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                14253
male                  7418
female                6835
season              summer
year                    99
Name: 4, dtype: object)
(5, province    اردبيل
total         4724
male          2573
female        2151
season      summer
year            99
Name: 5, dtype: object)
(6, province    اصفهان
total        15533
male          7955
female        7578
season      summer
year            99
Name: 6, dtype: object)
(7, province     البرز
total         6693
male          3479
female        3214
season      summer
year            99
Name: 7, dtype: object)
(8, province     ايلام
total         2190
male          1160
female        1030
season      summer
year            99
Name: 8, dtype: object)
(9, province     بوشهر
total         3947
male          1975
female        1972
season      summer
year            99
Name: 9, dtype: object)
(10, province     تهران
total        39768
male         20538
female       19230
season      summer
year            99
Name: 10, dtype: object)
(11, province    چهارمحال وبختياري
total                    4288
male                     2151
female                   2137
season                 summer
year                       99
Name: 11, dtype: object)
(12, province    خراسان جنوبي
total               3870
male                2015
female              1855
season            summer
year                  99
Name: 12, dtype: object)
(13, province    خراسان رضوي
total             28389
male              14541
female            13848
season           summer
year                 99
Name: 13, dtype: object)
(14, province    خراسان شمالي
total               3561
male                1818
female              1743
season            summer
year                  99
Name: 14, dtype: object)
(15, province    خوزستان
total         24045
male          12447
female        11598
season       summer
year             99
Name: 15, dtype: object)
(16, province     زنجان
total         3983
male          2126
female        1857
season      summer
year            99
Name: 16, dtype: object)
(17, province     سمنان
total         1947
male          1027
female         920
season      summer
year            99
Name: 17, dtype: object)
(18, province    سيستان وبلوچستان
total                  22888
male                   11768
female                 11120
season                summer
year                      99
Name: 18, dtype: object)
(19, province      فارس
total        16077
male          8489
female        7588
season      summer
year            99
Name: 19, dtype: object)
(20, province     قزوين
total         3984
male          2056
female        1928
season      summer
year            99
Name: 20, dtype: object)
(21, province        قم
total         4897
male          2518
female        2379
season      summer
year            99
Name: 21, dtype: object)
(22, province    كردستان
total          6062
male           3149
female         2913
season       summer
year             99
Name: 22, dtype: object)
(23, province     كرمان
total        12139
male          6230
female        5909
season      summer
year            99
Name: 23, dtype: object)
(24, province    كرمانشاه
total           6922
male            3658
female          3264
season        summer
year              99
Name: 24, dtype: object)
(25, province    كهگيلويه وبويراحمد
total                     3057
male                      1612
female                    1445
season                  summer
year                        99
Name: 25, dtype: object)
(26, province    گلستان
total         8422
male          4274
female        4148
season      summer
year            99
Name: 26, dtype: object)
(27, province     گيلان
total         5782
male          2945
female        2837
season      summer
year            99
Name: 27, dtype: object)
(28, province    لرستان
total         7251
male          3829
female        3422
season      summer
year            99
Name: 28, dtype: object)
(29, province    مازندران
total           8365
male            4388
female          3977
season        summer
year              99
Name: 29, dtype: object)
(30, province     مركزي
total         3890
male          1984
female        1906
season      summer
year            99
Name: 30, dtype: object)
(31, province    هرمزگان
total          8674
male           4508
female         4166
season       summer
year             99
Name: 31, dtype: object)
(32, province     همدان
total         6257
male          3200
female        3057
season      summer
year            99
Name: 32, dtype: object)
(33, province       يزد
total         4832
male          2414
female        2418
season      summer
year            99
Name: 33, dtype: object)
(3, province    آذربايجان شرقي
total                12090
male                  6246
female                5844
season                fall
year                    99
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                12580
male                  6479
female                6101
season                fall
year                    99
Name: 4, dtype: object)
(5, province    اردبيل
total         4019
male          2126
female        1893
season        fall
year            99
Name: 5, dtype: object)
(6, province    اصفهان
total        13505
male          6928
female        6577
season        fall
year            99
Name: 6, dtype: object)
(7, province    البرز
total        6063
male         3108
female       2955
season       fall
year           99
Name: 7, dtype: object)
(8, province    ايلام
total        1929
male          965
female        964
season       fall
year           99
Name: 8, dtype: object)
(9, province    بوشهر
total        3994
male         2099
female       1895
season       fall
year           99
Name: 9, dtype: object)
(10, province    تهران
total       34917
male        17986
female      16931
season       fall
year           99
Name: 10, dtype: object)
(11, province    چهارمحال وبختياري
total                    3467
male                     1832
female                   1635
season                   fall
year                       99
Name: 11, dtype: object)
(12, province    خراسان جنوبي
total               3509
male                1823
female              1686
season              fall
year                  99
Name: 12, dtype: object)
(13, province    خراسان رضوي
total             26422
male              13652
female            12770
season             fall
year                 99
Name: 13, dtype: object)
(14, province    خراسان شمالي
total               3470
male                1752
female              1718
season              fall
year                  99
Name: 14, dtype: object)
(15, province    خوزستان
total         23460
male          12089
female        11371
season         fall
year             99
Name: 15, dtype: object)
(16, province    زنجان
total        3683
male         1913
female       1770
season       fall
year           99
Name: 16, dtype: object)
(17, province    سمنان
total        1824
male          935
female        889
season       fall
year           99
Name: 17, dtype: object)
(18, province    سيستان وبلوچستان
total                  23088
male                   11855
female                 11233
season                  fall
year                      99
Name: 18, dtype: object)
(19, province     فارس
total       15203
male         7657
female       7546
season       fall
year           99
Name: 19, dtype: object)
(20, province    قزوين
total        3705
male         1903
female       1802
season       fall
year           99
Name: 20, dtype: object)
(21, province      قم
total       4446
male        2243
female      2203
season      fall
year          99
Name: 21, dtype: object)
(22, province    كردستان
total          5412
male           2826
female         2586
season         fall
year             99
Name: 22, dtype: object)
(23, province    كرمان
total       11691
male         5923
female       5768
season       fall
year           99
Name: 23, dtype: object)
(24, province    كرمانشاه
total           6150
male            3203
female          2947
season          fall
year              99
Name: 24, dtype: object)
(25, province    كهگيلويه وبويراحمد
total                     2724
male                      1358
female                    1366
season                    fall
year                        99
Name: 25, dtype: object)
(26, province    گلستان
total         7783
male          4032
female        3751
season        fall
year            99
Name: 26, dtype: object)
(27, province    گيلان
total        5109
male         2617
female       2492
season       fall
year           99
Name: 27, dtype: object)
(28, province    لرستان
total         6431
male          3365
female        3066
season        fall
year            99
Name: 28, dtype: object)
(29, province    مازندران
total           7642
male            3959
female          3683
season          fall
year              99
Name: 29, dtype: object)
(30, province    مركزي
total        3335
male         1737
female       1598
season       fall
year           99
Name: 30, dtype: object)
(31, province    هرمزگان
total          8679
male           4413
female         4266
season         fall
year             99
Name: 31, dtype: object)
(32, province    همدان
total        5666
male         2973
female       2693
season       fall
year           99
Name: 32, dtype: object)
(33, province     يزد
total       4529
male        2336
female      2193
season      fall
year          99
Name: 33, dtype: object)
(3, province    آذربايجان شرقي
total                11249
male                  5931
female                5318
season              winter
year                    99
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                12332
male                  6396
female                5936
season              winter
year                    99
Name: 4, dtype: object)
(5, province    اردبيل
total         3770
male          2015
female        1755
season      winter
year            99
Name: 5, dtype: object)

(3, province    آذربايجان شرقي
total                12520
male                  6484
female                6036
season              summer
year                  1400
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                13055
male                  6810
female                6245
season              summer
year                  1400
Name: 4, dtype: object)
(5, province    اردبيل
total         4264
male          2297
female        1967
season      summer
year          1400
Name: 5, dtype: object)
(6, province    اصفهان
total        15162
male          7774
female        7388
season      summer
year          1400
Name: 6, dtype: object)
(7, province     البرز
total         6445
male          3389
female        3056
season      summer
year          1400
Name: 7, dtype: object)
(8, province     ايلام
total         2139
male          1141
female         998
season      summer
year          1400
Name: 8, dtype: object)
(9, province     بوشهر
total         3683
male          1884
female        1799
season      summer
year          1400
Name: 9, dtype: object)
(10, province     تهران
total        37273
male         19307
female       17966
season      summer
year          1400
Name: 10, dtype: object)
(11, province    چهارمحال وبختياري
total                    3851
male                     1979
female                   1872
season                 summer
year                     1400
Name: 11, dtype: object)
(12, province    خراسان جنوبي
total               3840
male                1999
female              1841
season            summer
year                1400
Name: 12, dtype: object)
(13, province    خراسان رضوي
total             27092
male              13892
female            13200
season           summer
year               1400
Name: 13, dtype: object)
(14, province    خراسان شمالي
total               3586
male                1826
female              1760
season            summer
year                1400
Name: 14, dtype: object)
(15, province    خوزستان
total         24000
male          12225
female        11775
season       summer
year           1400
Name: 15, dtype: object)
(16, province     زنجان
total         3756
male          1961
female        1795
season      summer
year          1400
Name: 16, dtype: object)
(17, province     سمنان
total         1920
male           985
female         935
season      summer
year          1400
Name: 17, dtype: object)
(18, province    سيستان وبلوچستان
total                  22655
male                   11689
female                 10966
season                summer
year                    1400
Name: 18, dtype: object)
(19, province      فارس
total        14938
male          7694
female        7244
season      summer
year          1400
Name: 19, dtype: object)
(20, province     قزوين
total         3844
male          2046
female        1798
season      summer
year          1400
Name: 20, dtype: object)
(21, province        قم
total         5138
male          2601
female        2537
season      summer
year          1400
Name: 21, dtype: object)
(22, province    كردستان
total          5992
male           3118
female         2874
season       summer
year           1400
Name: 22, dtype: object)
(23, province     كرمان
total        11789
male          6099
female        5690
season      summer
year          1400
Name: 23, dtype: object)
(24, province    كرمانشاه
total           6285
male            3364
female          2921
season        summer
year            1400
Name: 24, dtype: object)
(25, province    كهگيلويه وبويراحمد
total                     2713
male                      1379
female                    1334
season                  summer
year                      1400
Name: 25, dtype: object)
(26, province    گلستان
total         8438
male          4358
female        4080
season      summer
year          1400
Name: 26, dtype: object)
(27, province     گيلان
total         5688
male          2896
female        2792
season      summer
year          1400
Name: 27, dtype: object)
(28, province    لرستان
total         6567
male          3527
female        3040
season      summer
year          1400
Name: 28, dtype: object)
(29, province    مازندران
total           8142
male            4345
female          3797
season        summer
year            1400
Name: 29, dtype: object)
(30, province     مركزي
total         3741
male          1946
female        1795
season      summer
year          1400
Name: 30, dtype: object)
(31, province    هرمزگان
total          8630
male           4431
female         4199
season       summer
year           1400
Name: 31, dtype: object)
(32, province     همدان
total         5951
male          3141
female        2810
season      summer
year          1400
Name: 32, dtype: object)
(33, province       يزد
total         4685
male          2411
female        2274
season      summer
year          1400
Name: 33, dtype: object)
(3, province    آذربايجان شرقي
total                12042
male                  6291
female                5751
season                fall
year                  1400
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                13330
male                  6941
female                6389
season                fall
year                  1400
Name: 4, dtype: object)
(5, province    اردبيل
total         3844
male          2034
female        1810
season        fall
year          1400
Name: 5, dtype: object)
(6, province    اصفهان
total        15133
male          7681
female        7452
season        fall
year          1400
Name: 6, dtype: object)
(7, province    البرز
total        6250
male         3240
female       3010
season       fall
year         1400
Name: 7, dtype: object)
(8, province    ايلام
total        1992
male         1020
female        972
season       fall
year         1400
Name: 8, dtype: object)
(9, province    بوشهر
total        4128
male         2080
female       2048
season       fall
year         1400
Name: 9, dtype: object)
(10, province    تهران
total       37116
male        19199
female      17917
season       fall
year         1400
Name: 10, dtype: object)
(11, province    چهارمحال وبختياري
total                    3428
male                     1775
female                   1653
season                   fall
year                     1400
Name: 11, dtype: object)
(12, province    خراسان جنوبي
total               3802
male                1989
female              1813
season              fall
year                1400
Name: 12, dtype: object)
(13, province    خراسان رضوي
total             27291
male              13990
female            13301
season             fall
year               1400
Name: 13, dtype: object)
(14, province    خراسان شمالي
total               3467
male                1789
female              1678
season              fall
year                1400
Name: 14, dtype: object)
(15, province    خوزستان
total         24415
male          12518
female        11897
season         fall
year           1400
Name: 15, dtype: object)
(16, province    زنجان
total        3672
male         1883
female       1789
season       fall
year         1400
Name: 16, dtype: object)
(17, province    سمنان
total        1771
male          943
female        828
season       fall
year         1400
Name: 17, dtype: object)
(18, province    سيستان وبلوچستان
total                  22740
male                   11509
female                 11231
season                  fall
year                    1400
Name: 18, dtype: object)
(19, province     فارس
total       15474
male         7964
female       7510
season       fall
year         1400
Name: 19, dtype: object)
(20, province    قزوين
total        3914
male         2055
female       1859
season       fall
year         1400
Name: 20, dtype: object)
(21, province      قم
total       4948
male        2507
female      2441
season      fall
year        1400
Name: 21, dtype: object)
(22, province    كردستان
total          5808
male           2907
female         2901
season         fall
year           1400
Name: 22, dtype: object)
(23, province    كرمان
total       12206
male         6162
female       6044
season       fall
year         1400
Name: 23, dtype: object)
(24, province    كرمانشاه
total           6362
male            3393
female          2969
season          fall
year            1400
Name: 24, dtype: object)
(25, province    كهگيلويه وبويراحمد
total                     2586
male                      1379
female                    1207
season                    fall
year                      1400
Name: 25, dtype: object)
(26, province    گلستان
total         8389
male          4292
female        4097
season        fall
year          1400
Name: 26, dtype: object)
(27, province    گيلان
total        5506
male         2865
female       2641
season       fall
year         1400
Name: 27, dtype: object)
(28, province    لرستان
total         6444
male          3354
female        3090
season        fall
year          1400
Name: 28, dtype: object)
(29, province    مازندران
total           7777
male            3957
female          3820
season          fall
year            1400
Name: 29, dtype: object)
(30, province    مركزي
total        3666
male         1860
female       1806
season       fall
year         1400
Name: 30, dtype: object)
(31, province    هرمزگان
total          9291
male           4708
female         4583
season         fall
year           1400
Name: 31, dtype: object)
(32, province    همدان
total        5720
male         2965
female       2755
season       fall
year         1400
Name: 32, dtype: object)
(33, province     يزد
total       4682
male        2391
female      2291
season      fall
year        1400
Name: 33, dtype: object)
(3, province    آذربايجان شرقي
total                11890
male                  6130
female                5760
season              winter
year                  1400
Name: 3, dtype: object)
(4, province    آذربايجان غربي
total                13226
male                  6878
female                6348
season              winter
year                  1400
Name: 4, dtype: object)
(5, province    اردبيل
total         3913
male          2109
female        1804
season      winter
year          1400
Name: 5, dtype: object)
(6, province    اصفهان
total        14216
male          7321
female        6895
season      winter
year          1400
Name: 6, dtype: object)
(7, province     البرز
total         6083
male          3157
female        2926
season      winter
year          1400
Name: 7, dtype: object)
(8, province     ايلام
total         1898
male          1032
female         866
season      winter
year          1400
Name: 8, dtype: object)
(9, province     بوشهر
total         3545
male          1892
female        1653
season      winter
year          1400
Name: 9, dtype: object)
(10, province     تهران
total        35262
male         18361
female       16901
season      winter
year          1400
Name: 10, dtype: object)
(11, province    چهارمحال وبختياري
total                    3551
male                     1885
female                   1666
season                 winter
year                     1400
Name: 11, dtype: object)
(12, province    خراسان جنوبي
total               3632
male                1876
female              1756
season            winter
year                1400
Name: 12, dtype: object)
(13, province    خراسان رضوي
total             25821
male              13399
female            12422
season           winter
year               1400
Name: 13, dtype: object)
(14, province    خراسان شمالي
total               3368
male                1713
female              1655
season            winter
year                1400
Name: 14, dtype: object)
(15, province    خوزستان
total         22115
male          11244
female        10871
season       winter
year           1400
Name: 15, dtype: object)
(16, province     زنجان
total         3573
male          1805
female        1768
season      winter
year          1400
Name: 16, dtype: object)
(17, province     سمنان
total         1885
male           937
female         948
season      winter
year          1400
Name: 17, dtype: object)
(18, province    سيستان وبلوچستان
total                  20719
male                   10637
female                 10082
season                winter
year                    1400
Name: 18, dtype: object)
(19, province      فارس
total        14575
male          7559
female        7016
season      winter
year          1400
Name: 19, dtype: object)
(20, province     قزوين
total         3610
male          1864
female        1746
season      winter
year          1400
Name: 20, dtype: object)
(21, province        قم
total         4679
male          2318
female        2361
season      winter
year          1400
Name: 21, dtype: object)
(22, province    كردستان
total          5833
male           3052
female         2781
season       winter
year           1400
Name: 22, dtype: object)
(23, province     كرمان
total        11258
male          5797
female        5461
season      winter
year          1400
Name: 23, dtype: object)
(24, province    كرمانشاه
total           6290
male            3362
female          2928
season        winter
year            1400
Name: 24, dtype: object)
(25, province    كهگيلويه وبويراحمد
total                     2524
male                      1330
female                    1194
season                  winter
year                      1400
Name: 25, dtype: object)
(26, province    گلستان
total         7755
male          3967
female        3788
season      winter
year          1400
Name: 26, dtype: object)
(27, province     گيلان
total         5235
male          2685
female        2550
season      winter
year          1400
Name: 27, dtype: object)
(28, province    لرستان
total         6153
male          3218
female        2935
season      winter
year          1400
Name: 28, dtype: object)
(29, province    مازندران
total           7196
male            3622
female          3574
season        winter
year            1400
Name: 29, dtype: object)
(30, province     مركزي
total         3410
male          1738
female        1672
season      winter
year          1400
Name: 30, dtype: object)
(31, province    هرمزگان
total          8064
male           4062
female         4002
season       winter
year           1400
Name: 31, dtype: object)
(32, province     همدان
total         5657
male          2970
female        2687
season      winter
year          1400
Name: 32, dtype: object)
(33, province       يزد
total         4552
male          2372
female        2180
season      winter
year          1400
Name: 33, dtype: object)

##### **a. Total births**

##### **b. Total births divide by gender**

##### **c. Most births in last five years**

##### **d. Least births in last five years**

##### **e. Most Birth-rate**

##### **f. Least Birth-rate**

##### **g. Birth number and rate in each season!**

## **Part2 - Working with QGIS**

#### **Section A: Load Data**

#### **Section B: Answer Questions**

In [ ]:
# PC