# **Northwind Database:**

The Northwind database is a sample database that was originally created by Microsoft and used as the basis for their tutorials in a variety of database products for decades. The Northwind database contains the sales data for a fictitious company called “Northwind Traders,” which imports and exports specialty foods from around the world. The Northwind database is an excellent tutorial schema for a small-business ERP, with customers, orders, inventory, purchasing, suppliers, shipping, employees, and single-entry accounting. The Northwind database has since been ported to a variety of non-Microsoft databases, including PostgreSQL.
<br>
The Northwind dataset includes sample data for the following.

- Suppliers: Suppliers and vendors of Northwind
- Customers: Customers who buy products from Northwind
- Employees: Employee details of Northwind traders
- Products: Product information
- Shippers: The details of the shippers who ship the products from the traders to the end-customers
- Orders and Order_Details: Sales Order transactions taking place between the customers & the company

<br>

The Northwind sample database includes 14 tables and the table relationships are showcased in the following entity relationship diagram.

## **Northwind ER Diagram:**

<br>
 <img src="imgs/Northwind_ERD.png" width="900" height="1300">
<br>

### **Use SQL commands in Jupyter Notebook:**

-  Install the extension by following command:

```shell
    python3 -m pip install ipython-sql
```

### **Using SQLAlchemy:**
- It's an ORM (object-oriented-mapper)

- SQLAlchemy: SQLAlchemy is the Python SQL toolkit and Object Relational Mapper giving application developers the full power and flexibility of SQL.
<br>
- Install the SQLAlchemy with pip:

```shell
    pip3 install SQLAlchemy
```
    pip install pyscopg2
    
- Install it using conda:
```shell
    conda create -n sql python
    conda activate sql
    conda install ipython-sql sqlalchemy psycopg2 notebook pandas -c conda-forge
```

## Sample HandsOn Questions:

- Connecting to the Database:
- Note: Give a limitation for your queries!

In [ ]:
%load_ext sql

hostname = "localhost"
database = "northwind"
user = "postgres"
password = "admin"

connection_string = f"postgresql://{user}:{password}@{hostname}/{database}"
%sql $connection_string

In [ ]:
%env DATABASE_URL=connection_string

### Question-1:
Q1: Write a query to get Product name and quantity/unit.

In [ ]:
%%sql

select product_name, quantity_per_unit from products
limit 10;

### Question-2:
Q2: Write a query to get current Product list (Product ID and name).

In [ ]:
%%sql

select product_id, product_name from products
where discontinued = 0
order by product_name
limit 5;

### Question-3:
Q3: Write a query to get discontinued Product list (Product ID and name).

In [ ]:
%%sql

select product_id, product_name from products
where discontinued = 1
order by product_name
limit 5;

### Question-4:
Q4: Write a query to get most expense and least expensive Product list (name and unit price)

In [ ]:
%%sql
select * from products
limit 2;

In [ ]:
%%sql

select product_name, unit_price from products
order by unit_price desc
limit 10

### Question-5:
Q5: Write a query to get Product list (id, name, unit price) where current products cost less than $20.

In [ ]:
%%sql

select product_id, product_name, unit_price from products
where unit_price < 20
and discontinued = 0
order by unit_price desc
limit 10

### Question-6:
Q6: Write a query to get Product list (id, name, unit price) where products cost between $15 and $25.

In [ ]:
%%sql

select product_id, product_name, unit_price, discontinued from products
where unit_price >= 15
and unit_price <= 25
and discontinued = 1
order by unit_price
limit 10;

### Question-7:
Q7: Write a query to get Product list (name, unit price) of above average price.

In [ ]:
%%sql

select products.product_name, unit_price from products
where unit_price >= (select avg(unit_price) from products)
order by unit_price desc;

### Question-8:
Q8: Write a query to find how much the best selling products have sold (name, unit price).

In [ ]:
%%sql

select products.product_name, products.unit_price,
        sum((order_details.unit_price - order_details.discount) * order_details.quantity) as  total_net_price
from order_details
inner join products
on order_details.product_id = products.product_id
GROUP BY products.product_id
order by total_net_price desc

### Question-9:
Q9: Write a query to count current and discontinued products.

In [ ]:
%%sql

select discontinued, count(product_id) as number  from products
group by discontinued

### Question-10:
Q10: Write a query to get Product list (name, units on order , units in stock) of stock is less than the quantity on order.

In [ ]:
%%sql

select product_name, units_on_order, units_in_stock from products
where discontinued = 0
and units_in_stock < units_on_order

### Question-11:
Q11: Write a query to get Product list (name, unit price) of twenty most expensive products.

In [ ]:
%%sql

select distinct product_name as twenty_most_expensive, unit_price
from products as a
where 20 >= (select count(distinct unit_price)
            from products as b
            b.unit_price >= a.unit_price)
order by unit_price desc
limit 10

## Pandas - SQLAlchemy

In [ ]:
from sqlalchemy import create_engine, inspect

hostname = "localhost"
database = "northwind"
user = "postgres"
password = "admin"

connection_string = f"postgresql://{user}:{password}@{hostname}/{database}"

engine = create_engine(connection_string)


insp = inspect(engine)
insp.get_table_names()

In [ ]:
%%sql

select * from region
limit 2;

In [ ]:
import pandas as pd

df = pd.read_sql("select * from products", engine)

In [ ]:
df.describe()

### Question-12:
Q12: Query the order ID, product name, and sales amount of each order of North China customers on December 1, 1996.

### Question13:
Q13: Query calculates sales price for each order after discount is applied.

### Question-14:
Q14: Query for getting the product names which have Unit Price greater than average

### Question-15:
Q15: Query for getting group categories and products by quarters and shows sales amount for each quarter

### Question-16:
Q16: Get the Number of units in stock by category and supplier continent

### Question-17:
Q17: Query for showing total sales for each date in a month.

### Question-18:
Q18: Query for finding out the number of orders and products sold for each date in June 1997 and also the total number of orders and products sold for the entire month in June 1997.

### Question-19:
Q19: Query for calculating sales running total based on employee names within each product.

### Question-20:
Q20: Delete the shippers_duplicate table